[2017-04-26 15:14] SlavaRa commented on #1588
I will create PR today after the main work

[2017-04-29 05:27] SlavaRa commented on #1580
Fixed via #1572

[2017-04-30 10:12] Spamme1 opened #1595 "Update to newer version of .Net"
I wanted to to test something and I downloaded it, but when I saw that it required .net 3.5, which I don't want to have anymore installed on my laptop, I deleted the installer.
It's a shame that some nice open source projects just stick with old libraries, this doesn't help them to survive, every new laptop with windows 10 has .net 4.6 installed and nobody wants to install the old .net dinosaur 3.

[2017-04-30 20:14] andrew-git opened #1596 "New panels Refactor/References"
In latest update appears 2(maybe more) panels Refactor/References, their purpose not clearly understand - early all showed in Results panel and works ok.
In addition they don't save state where it pinned, and after restart appears in default position.
Also they don't available at View menu.

[2017-04-30 20:44] #1580 closed

[2017-05-01 07:42] wise0704 commented on #1596
Improvements for multiple results panels is already submitted at the moment, as #1578
If you could check it out and provide feedback, that'd be nice.

[2017-05-01 10:43] Neverbirth opened #1598 "Use haxe -version whenever possible"
Trying to read and parse changes.txt from the defined SDK is not always a good option, for example when using [Haxe Shim](https://github.com/lix-pm/haxeshim).

FD should ideally call haxe -version and use changes.txt as a fallback.

[2017-05-01 10:49] Gama11 commented on #1598
FD might also be able to show the Git SHA for Haxe dev builds that way in the SDK chooser dialog.

[code]

[2017-05-01 11:10] elsassph commented on #1598
Problem is that it may run for each SDK on startup, or would you limit it to the SDK manager UI?

[2017-05-01 14:53] sebthom opened #1599 "Theming support for icons of outline panel"
According http://www.flashdevelop.org/community/viewtopic.php?f=13&t=1947 the icons used in the outline panel are part of the ASCompletion.dll which makes customizing them impossible without recompiling the DLL.

The icons should be externalized for easier theming.

[2017-05-01 22:46] #1457 closed

[2017-05-02 07:59] markknol commented on #1411
Is there any work done regarding the arrow functions? This might be released "soon", would be nice if the support is already there, to give users a good first impression.

[2017-05-02 08:01] Neverbirth commented on #1411
I guess this is up to @SlavaRa. I wanted to test them together with some other things yesterday, but I see there are no nightly builds yet...

[2017-05-02 08:23] markknol opened #1601 "Linter panel feedback"
I have a new "linter" panel, just wanted to share my feedback:
1.  The panel should also be in the "view" top menu, to show/hide them I'm my layout when I want. Now it just appear.
1. The unused import/variables warnings are really nice/helpful in general!
1. The unused import doesn't work when you have conditional compilation `#if macro`
1. In macro code, I get fairly random errors, I think it do

[2017-05-02 08:34] Neverbirth commented on #1601
Thanks for your feedback!

1. Yeah, this is in progress.
2. Thanks again!
3. The information is coming from the Haxe compiler service... so I'm afraid this is related to them...
4. The same as 3 I guess.
5. Same as 3 again.
6. This was done on purpose to follow the same behavior as compiler output, find references, refactor, etc, but it could be changed if more people are against it.
7. They shoul

[2017-05-02 09:08] markknol commented on #1601
6. In that case, it would be nice if there was an option to ignore the errors/warnings (from the settings). Now you can hide them by deselecting the icon in the panel, but it still logs to output panel.

[2017-05-03 01:36] kevinfoley opened #1603 "Installing AIR SDKs doesn't update platform options"
This list doesn't update when we download new AIR SDKs from the "Install Software" menu (AppMan). We have to wait for the next version of FlashDevelop before the list updates. This list should not be hardcoded; it should update automatically when we download new SDKs.
![air properties](https://cloud.githubusercontent.com/assets/7231744/25645695/a7906684-2f65-11e7-9a8c-a46d38afc3db.png)

[2017-05-05 04:11] kevinfoley opened #1609 "Code Analyzer doesn't work with custom PMD ruleset"
1. Tools > Flash Tools > Code Analyzer Ruleset Creator
2. Change some settings
3. Export PMD settings
4. Tools > Program Settings > Code Analyzer - change the Default Ruleset File to the one you exported in step 3
5. Tools > Flash Tools > Analyze Project Source Code
6. The status bar displays "Flex PMD Running", but the analyzer never finishes

[2017-05-05 07:05] Neverbirth commented on #1609
Funny, I saw the plugin just 2 days ago, thought it should be using the new LintingManager added recently, and was wondering if people were using it at all heh. It's been maybe 6 years since I last tried it...

I should give this a try soon.

[2017-05-05 07:16] Neverbirth commented on #1603
@wise0704 was recently proposing to change this to a numeric stepper or similar, but I'm not sure it's the best approach, what do you think? It would be nice to generate this automatically, but there are many problems with it, for example I never used AppMan to download Flex/AIR SDKs, I did it manually or through the FlexSDK Installer. Also, what if you try to open a project with in an environment

[2017-05-05 07:30] kevinfoley commented on #1603
@Neverbirth  Why not use AppMan to install SDKs? It's extremely convenient. That's also sidestepping the question, since we still need to be able to select the correct SDK regardless of how the SDK was downloaded.

Well, then the application.xml, SetupApp.sdk, and FD project will all have the wrong SDK version selected, so the numeric dropdown is hardly your biggest concern.

[2017-05-05 07:36] wise0704 commented on #1603
Note: Manually editing `\Settings\Platforms\AS3\flashplayer.xml`, `air.xml` and `airmobile.xml` in `$(BaseDir)` updates the dropdown.

Related: #1546
As I mentioned there, if an invalid version was provided with a numeric stepper, wouldn't the compiler complain anyway?

[2017-05-05 07:57] matrix3d opened #1610 "unable to open playerglobal.swc sometime"
and i use the fp23 not the 11.1

Building mymain
mxmlc-cli -load-config="D:\sdk\airsdk25/frameworks/flex-config.xml" -load-config+=obj\mymainConfig.xml -advanced-telemetry=true -swf-version=25 -o obj\mymain636295960251190233
Running java as: java
Loading configuration: D:\sdk\airsdk25\frameworks\flex-config.xml
Loading configuration: D:\proj\my\client\client\Game_Main\obj\mymainConfig.xml

D:\sdk\

[2017-05-05 10:09] Neverbirth commented on #1610
From the output you paste the error comes from the compiler itself, not FD. One option could be that FD is run from some user that cannot read that file for some reason, so the compiler is running as that user too. There are other options, like some program blocking the file, you may be able to use Process Explorer and/or Process Monitor to find out the culprit.

[2017-05-05 10:16] matrix3d commented on #1610
http://www.flashdevelop.org/community/viewtopic.php?f=13&t=11053

the same this.maybe can not get <path-element>libs/player/11.9/playerglobal.swc</path-element>

[2017-05-05 17:55] kevinfoley commented on #1609
The analyzer worked until I changed the PMD settings file.

[2017-05-05 17:57] kevinfoley commented on #1603
I have edited all those files but it didn't change the dropdown. I'm using the 64-bit version of FD, if that matters.

[2017-05-05 23:34] wise0704 commented on #1603
Did you make sure to edit them in Local AppData not in Program Files? (Unless you're using a portable version.)
Also you need to restart FD if it was open, after editing the files.

[2017-05-06 05:00] SlavaRa opened #1612 "The FixedSizeQueue has zero capacity."
[code]
@wise0704 5.2.172 development

[2017-05-06 05:13] wise0704 commented on #1612
This issue occurs when the settings file is changed randomly and externally (i.e. by git), and the Clipboard History Size is set to 0 (minimum allowed through settings dialogue is 1).

I'll submit a fix today.

[2017-05-06 18:08] andrew-git opened #1616 "Correct extract method behavior"
Let's have below code
`var v:Int = expression;`
If we make extract method on **expression** we get
[code]
What expected
[code]

[2017-05-06 18:10] andrew-git opened #1617 "Correct extract method behavior 2"
Let's have below code
`var v:Int = expression;`
If we make select extract method on **expression** without **;** we get
[code]
What desirable
[code]

[2017-05-07 12:32] jan-niestadt commented on #1178
I have the same problem in HaxeDevelop (based on FlashDevelop). Also noticed that if you replace with something longer than the original, it only replaces as many characters as are in the occurrence found; after that it ignores the rest of the "replace with" string.

[2017-05-07 12:36] SlavaRa commented on #1178
Please check it in development version

[2017-05-07 13:37] andrew-git opened #1621 "Error at startup in latest (5.2.1.174) version"
![fd](https://cloud.githubusercontent.com/assets/1407827/25781470/73d95508-3343-11e7-81d8-a783cf3ba9fb.png)

[2017-05-07 13:39] Neverbirth commented on #1621
From what I see `AddClipboardFormatListener` is Windows Vista+ only. So I guess you are still on XP, aren't you?

@wise0704

[2017-05-07 13:40] andrew-git commented on #1621
Yes

[2017-05-07 13:40] Neverbirth commented on #1609
Maybe the settings file got corrupted? Did you try to run PMD yourself? I would like to look into this, but I cannot give any ETA.

[2017-05-07 13:50] #1612 closed

[2017-05-07 14:03] wise0704 commented on #1621
Welp, I should add an OS version check on top of the Win32 check?

But seriously, why would you still use XP?

[2017-05-07 14:23] andrew-git commented on #1621
Check would be great, it's once inconsistency with XP, so better to keep support.
I have notebook with newer version and old adjusted PC, so prefer to keep as is.

[2017-05-07 14:48] #1621 closed

[2017-05-07 15:55] andrew-git commented on #1596
Please add possibility to remember positions of new panels (after restart appears in default position)

[2017-05-07 16:03] wise0704 commented on #1596
Panel layout data restoration is already implemented in the referenced PR.

If they aren't getting restored, can you confirm that positions for other panels (e.g. Output, Task List, Project) are getting restored properly?

[2017-05-07 16:14] andrew-git commented on #1596
Yes on latest (5.2.1.177) other panels restored pinned to bottom, but reference/refactor resets to popup bottom
![screen](https://cloud.githubusercontent.com/assets/1407827/25782764/55c16108-3359-11e7-8aa2-c45ad91c3a56.png)

[2017-05-07 16:18] wise0704 commented on #1596
Ah, the PR is not merged yet. I was referring to the version in #1578.

[2017-05-08 13:13] wise0704 commented on #1333
Can't we take the same approach as VS?

Looking at the .as3proj file, the entire `<build>` tag can have a `config` attribute, and the values being the `debug` and `release` (and maybe more if we allow multiple configurations in the future).

Looking at FD, there is "Select Configuration" and "Select Target Build". So we can have:

[code]

[2017-05-08 16:22] wise0704 commented on #1333
I haven't looked into the code, but I've just tried making a project file with the format I wrote above. Tested with 5.2.0.
With 2 `<build>` tags, the settings of the first tag was taken (I've set inline to false in debug, the first tag, and true in release the second tag), without any error thrown.
Regarding forward compatibility, the current project **reader** is okay. The revised project reader

[2017-05-08 17:57] markknol commented on #1411
In fact soon means its already in nightlies https://github.com/HaxeFoundation/haxe/pull/6209

[2017-05-08 18:06] Gama11 commented on #1411
The problem is that nightly builds are broken. :) https://github.com/HaxeFoundation/haxe/issues/6149

[2017-05-08 18:11] SlavaRa commented on #1411
@Neverbirth I can complete the code parser and generators for this, but we need to decide whether we will release it(in FD|HD). It is not known when it will be released in Haxe, and changes in the editor will have to do a lot

[2017-05-08 19:57] andrew-git opened #1624 "Release frequency"
Last FD release was at Sep 19, 2016.
I use development builds, but often people can't use latest Air and release version of FD and not possible to refer everyone to night builds.
So my proposition make release version at least with Air/FP version updates.

[2017-05-08 22:14] #1596 closed

[2017-05-10 02:53] matrix3d opened #1625 "airsdk compress swf not be used"
all fws

[2017-05-10 07:07] Neverbirth commented on #1625
Can you explain more?

[2017-05-10 07:10] matrix3d commented on #1625
adobe air sdk 25
setting optimize bytecode =true.not use.
my proj get  swf 3M size.
and i addtional compiler options -compress=true,
i get swf 1M size.

[2017-05-11 13:41] gene-pavlovsky opened #1626 "Move line up/down buggy with Arrays of literal objects"
Haxe code:
[code]

Put the cursor on line with value `e`, press Ctrl-Alt-Up.
Expected result: object values in order a,b,c,e,d
Actual result: object values in order a,b,d,e,c

Problem seems to be triggered by curly braces.

[2017-05-12 12:07] chipshort commented on #1601
Okay, so here is what I think:
3. I could imagine this being a problem with the way we call the compiler service, since we specify the target, but I'm not completely sure.
For 8. It seems like there are more diagnostics types than I know of. At the moment, only unused variable and unused import are implemented. I recently found out there is one for cases in a switch that will never match, but ther

[2017-05-13 11:23] nadako commented on #1411
I think the sonner IDEs supports that - the better, because some people are actually using bleeding edge haxe versions.

[2017-05-16 16:46] madrazo opened #1628 "Request: hxccp-debugger and nme target"
Hi guys,
We really want a hxcpp-debugger since a long time. Since 2012?
(we still use NME https://github.com/haxenme/nme/issues/453)

There was experimental support on 2014
http://www.flashdevelop.org/community/viewtopic.php?f=4&t=11020

Yesterday, I had tried VS Code (https://github.com/jcward/vscode-hxcpp-debug) but I couldn't make it work.

Is still any plan for this in FlashDevelop?
Thanks

[2017-05-17 13:11] wise0704 commented on #1624
A workaround for target version selection for now:
https://github.com/fdorg/flashdevelop/issues/1603#issuecomment-299401406
Refer to the table in:
http://stackoverflow.com/questions/9537076/chart-of-swf-versions-to-flash-versions

[2017-05-17 13:17] wise0704 commented on #1626
I can reproduce it in both release and development versions.
To add: instead of just the current line, the line above is selected as well, regardless of whether it's MoveLineUp or Down:
![image](https://cloud.githubusercontent.com/assets/13545633/26155545/8255c66c-3b4e-11e7-9543-c484dff7830e.png)

[2017-05-17 14:45] andrew-git commented on #1624
Personally me have no problem with using night builds or editing configs, but most of users prefer to have actual version. In addition sometime added new features in Air.
Any problems with releasing version about once a month?

[2017-05-17 18:42] Neverbirth commented on #1601
@markknol Could you try the build for PR #1627?

https://ci.appveyor.com/api/buildjobs/yf46b9shf9wipe6f/artifacts/FlashDevelop%2FInstaller%2FBinary%2FFlashDevelopPR_1627.zip

[2017-05-17 19:55] markknol commented on #1601
Yep will try tomorrow! Any specific stuff I need to look into?

[2017-05-17 19:57] Neverbirth commented on #1601
I'm curious if 8 is improved for you now.

[2017-05-17 20:08] chipshort commented on #1601
Yes, 8 and also 7 should be fixed now.

[2017-05-19 15:05] sebthom opened #1630 "[Haxe] No auto-completion for anonymous structures"
E.g.

[code]

[2017-05-19 17:38] Neverbirth commented on #1628
I will try to summarize the situation from my side as best as possible:

I always wanted to work on improving the debugging support in FD, but always had to do something else.
Around a year and a half ago I started using Haxe for targetting JS. I tried to debug my projects with existing tools, always getting really bad results.
So I worked on refactoring the debugger support in FD, and I got to im

[2017-05-19 19:45] madrazo commented on #1628
Than you for your detailed answer.
We are not in hurry and I'll stick around to see if I can help on something.

[2017-05-20 04:36] wise0704 commented on #1601
@Neverbirth this can be closed now?

[2017-05-20 21:48] Neverbirth commented on #1601
I tested the PR and could also see it was reporting in a more proper way, but I prefer to keep it open until @markknol gets to reply. There is also point 6 that I don't know what others' opinion is.

[2017-05-21 14:05] markknol commented on #1601
8 It seems improved, the errors now have messages.
7. Doesn't seem to be resolved, the error stays after resolve + saving:
![linter](https://cloud.githubusercontent.com/assets/576184/26284573/fe751322-3e3e-11e7-9137-07d1aeb40fbc.gif)

[2017-05-21 14:27] wise0704 commented on #1601
7 should be solved in #1631

[2017-05-21 14:41] wise0704 commented on #1601
@Neverbirth 6 would require rewriting TraceManager and separating output logs and results logs.
I think that would be worth a new separate issue to be created.

[2017-05-21 16:31] wise0704 commented on #1185
Multiple results panel should've solved this issue.

[2017-05-23 18:39] wise0704 commented on #902
This is much easier to implement with my new branch (https://github.com/wise0704/FlashDevelop/tree/ExtendedShortcuts) which is planned to be made into a PR after the Extended Shortcut #1522, which was reverted last time (insert sadface).

It would just need to handle "Scintilla.WordLeft" etc. shortcut commands in modal window shortcut handlers.

[2017-05-23 19:58] #895 closed

[2017-05-23 20:01] #1175 closed

[2017-05-23 20:21] #1184 closed

[2017-05-24 06:57] #1185 closed

[2017-05-24 07:02] Neverbirth commented on #1601
OK, I'm closing down this one, if 6 is considered really important or some other issues or suggestions are found create new tickets. Thanks everyone!

[2017-05-24 07:02] #1601 closed

[2017-05-24 07:54] markknol commented on #1601
Thanks for all these improvements and feedback!

[2017-05-30 15:01] sebthom opened #1641 "Support for shell syntax highlighting"
Please add support for Shell/Bash syntax highlighting.

Should be auto enabled for *.sh and *.bash files.

Thanks!

[2017-05-30 15:07] Neverbirth commented on #1641
It would be perfectly possible to do this, if someone feels bored enough for it I would be ok, the problem would be custom theme support. I had some related discussion recently with @wise0704.

[2017-05-30 15:47] sebthom commented on #1641
I have no experience in customizing FD. Can you roughly describe the steps to add a new language?

[2017-05-30 16:27] Neverbirth commented on #1641
Oh, I'm not telling you specifically to do it. Maybe we could do some wiki article on what you ask.

[2017-06-01 10:50] andrew-git opened #1645 "[AS3] Wrong function generation behavior"
Let's have
[code]
when generate new function f3 we got
`private function f3():Function`
expected
`private function f3():void`

[2017-06-01 11:05] SlavaRa commented on #1645
it is for me :)

[2017-06-01 16:09] wise0704 opened #1646 "Linting does not run on startup even with LintOnOpen set to true"
This is due to FD restoring session (opening previous documents) before `UIStarted` event is dispatched in `MainForm.OnMainFormLoad()`, meaning `FileOpen` happens before `UIStarted`.

ProjectManager opens the last project on `UIStarted` event, and thus when the documents are opened, the project is yet to be loaded, and the linter does not run.

One possible solution is to listen to `Command` event

[2017-06-02 07:06] Neverbirth commented on #1624
I wanted to reply to this for some time but always forget for some reason or another. I completely agree with your point, sadly this requires some time @Meychi doesn't currently have. On my side I've also been extremely busy for a few months, now I'm getting more time to dedicate, but I've never done any release (although it's relatively easy from what I know), and I think it's a bit more producti

[2017-06-02 07:14] Neverbirth commented on #1645
Why `private function f3():void`? Why not `f3();*` or `f3(... args):*`. On some cases maybe we can get the exact signature, but here it's not possible.

[2017-06-02 07:19] Neverbirth opened #1647 "Haxe Linting does not run with custom SDK"
Creating a Kha project sets a custom SDK and linting is not working with it. I saw the SDK misses CHANGES.txt, but even creating it doesn't solve the issue, so there may be something else here going wrong.

Will be checked soon.

[2017-06-02 17:58] andrew-git commented on #1645
Reasonable, but ":Function" not good anyway, If it's not void you should fix it manually, but with Function you should fix it in any case

[2017-06-04 08:46] arietto commented on #1469
Any ideas? I asked about this issue in early spring, now it's summer.

[2017-06-04 12:16] gene-pavlovsky opened #1650 "[feature] Track line additions/deletions in current file and update Results panel(s) appropriately"
It would be nice if the Results panel(s) could keep updated when adding/removing lines from a file they reference.

Use case:
1) Try to compile, get several errors in a single file
2) Go to the first error (result), let's say it is a missing import. Ctrl+Shift+1 and voila, import is added. Or e.g. that line is some old stuff that's not needed anymore, delete the line then.
3) Press F12 to go to th

[2017-06-04 12:17] gene-pavlovsky commented on #1641
Hey, that would be nice indeed. I use `Notepad2-mod` for editing my bash scripts on windows, or a not-well-known `le` editor on linux.

[2017-06-05 22:30] #1645 closed

[2017-06-11 01:23] ghost opened #1656 "Russian Language for FlashDevelop"
My time begining translate IDE on Russian Lang.
Here will be posted updates.

[2017-06-12 07:01] Neverbirth commented on #1650
I agree on this one. Of course there is nothing we can do with files that our not open in the application, but it's to be expected.

[2017-06-12 19:40] #749 closed

[2017-06-13 11:44] Neverbirth commented on #1403
I will do my best to have a solution for this during this week, as I have now a project that seems to be a good base to find the root cause for this issue.

[2017-06-13 20:46] Neverbirth commented on #1403
I think I already found the cause for the issue, but I may need some extra time for a proper solution.

[2017-06-14 06:06] Meychi commented on #1656
@SlavaRa: could you help him if needed?

[2017-06-14 09:07] SlavaRa commented on #1656
@Meychi hi, no problem

[2017-06-15 08:22] binkiesjoris opened #1657 "Auto completion errors when classpath folder structure contains spaces or -"
We ran into compile problems when a folder structure contained spaces or - signs, this was easily solved by enclosing all compiler arguments with "'s, however, now I'm getting the same errors when triggering auto complete on anything:

Building works, but if you then try to autocomplete something:

I did some testing with an empty new project, but the problem seems to occur whenever I add any refe

[2017-06-15 14:24] SlavaRa commented on #1657
@binkiesjoris I will check it today

[2017-06-15 15:57] SlavaRa commented on #1657
@binkiesjoris What is your project type(Java, C#, etc)?

[2017-06-15 16:04] binkiesjoris commented on #1657
@SlavaRa Project type would be javascript.

[2017-06-15 16:15] SlavaRa commented on #1657
[code]
Can you give me your project?

[2017-06-15 16:21] binkiesjoris commented on #1657
I have created a test case, if you try to autocomplete the test variable in main.hx it should output an error in the console.
[Project.zip](https://github.com/fdorg/flashdevelop/files/1078278/Project.zip)

[2017-06-15 19:48] Neverbirth opened #1658 "Class type detection broken"
The changes to `ASComplete` in #1619 made trying to resolve class types to return std\Class.hx instead of the class itself.

So, having something like

[code]

Trying to resolve `SomeClass` gives back `Class`, not `SomeClass`. As it's expected.

This is quite a problem for the main codebase of my team.

[2017-06-15 20:45] Neverbirth commented on #1657
This issue comes from https://github.com/fdorg/flashdevelop/blob/development/External/Plugins/ProjectManager/Projects/Haxe/HaxeProject.cs#L190

Having Quote there looks wrong to me. It makes to classpaths to get double quoted when getting completion, and also makes for example exported HXML files to be wrong. I guess FDBuild should be the one quoting the path here like when we generate the command

[2017-06-15 20:51] Neverbirth opened #1659 "Having a class path with quotes in a hxml project throws an error"

[2017-06-16 15:53] andrew-git opened #1660 "Auto completion for static fields/methods broken"
In 5.2.1.194 version of FD auto completion for static fields/methods not working.
It don't complete none of static fields/methods (Math class also).

[2017-06-16 15:54] Neverbirth commented on #1660
This sounds like it could be #1658.

[2017-06-16 15:55] andrew-git commented on #1660
Yep, I seek and see this, but was not quite sure

[2017-06-16 16:18] SlavaRa commented on #1658
I'm working on a fix

[2017-06-19 13:05] gene-pavlovsky opened #1661 "ResultsPanel.ShowNextResult starts from 2nd result after a fresh search"
Steps to reproduce:
- Perform a Find&Replace in Files (use some project and query which will produce multiple results)
- Press the hotkey for ResultsPanel.ShowNextResult (mine is F12 but not sure if it's default?)

Expected result:
- First result activated

Actual result:
- Second result activated

[2017-06-22 22:53] Neverbirth opened #1664 "Wrong autocompletion"
This bug has come to my knowledge today. Having this AS3 code (I guess Haxe is similar but didn't check):

[code]

Trying to autocomplete after `func` is not working nicely, after checking in depth I've seen that the changes to `ASComplete` in #1619 also broke this, and `ASComplete` is returning that the tail of the expression in that position is `{}func` instead of just `func`.

Pinging @SlavaRa

[2017-06-27 20:38] Neverbirth commented on #1403
Just an update: I have changes locally that should fix this issue, but I want to give it some final review before committing. Hopefully I will push it tomorrow.

[2017-06-28 16:32] SlavaRa commented on #1664
@Neverbirth I'm checking this at the moment

[2017-06-28 16:37] SlavaRa commented on #1664
@Neverbirth I found a specific place for the problem, I will fix it at night

[2017-06-28 17:31] #1658 closed

[2017-06-28 17:38] Neverbirth commented on #1660
Please, confirm this is fixed for you with latest development build, and close the issue if so.

[2017-06-29 17:41] sfxworks opened #1667 "Linked but not working"
![image](https://user-images.githubusercontent.com/5921035/27701933-6a418d42-5cd0-11e7-8bfb-bfedd32263c1.png)
The libraries are linked but wont reference at random. FD 5.2.0 Java 8 32 & 64. Happens in both 32 and 64-bit mode. Also get occasional freezing preventing me from coding for a good 5 minutes.

[2017-06-30 07:04] wise0704 commented on #1661
I'm not able to reproduce it on the current development version.
Find And Replace In Files > "i" > Enter > ShowNextResult
navigates to the first result.

[2017-06-30 07:46] gene-pavlovsky commented on #1661
Just tried a fresh build of the development branch.
This time ShowNextResult navigated to some result in the middle
![fd_nextresult](https://user-images.githubusercontent.com/2841193/27726028-0bc780f6-5d79-11e7-9c03-3592fa264d3b.png)

[2017-06-30 07:50] feipinxiang opened #1671 "path error"
system win10 64. fd 5.2.0.3. open “FlashDevelop64.exe”，project=>open project.
![2017-06-30_154707](https://user-images.githubusercontent.com/2398548/27726121-aff28f5e-5dab-11e7-8f07-c1fb6e464708.jpg)

error info
<details>
有关调用实时(JIT)调试而不是此对话框的详细信息，
请参见此消息的结尾。

************** 异常文本 **************
System.ArgumentNullException: 值不能为空。
参数名: path1
   在 System.IO.Path.Combine(String path1, String path2)

[2017-06-30 08:21] wise0704 commented on #1661
Ah, I see. When sorted by groups the `Items` list isn't sorted accordingly (although I thought `Items` would reflect the order of items as they are displayed).

[2017-06-30 09:21] gene-pavlovsky opened #1672 "Open Resource occasional wrong sort order"
I have a file with the same name at two locations: `bin\debug\InitialConfig.json` and `resource\config\InitialConfig.json`.
Normally when I open `Open Resource` dialog and type `ICM`, they are displayed in the alphabetical order (`bin\debug` one first). However, after a while of working on the project, sometimes something happens, and the `resource\config` one is shown first (none of them are open

[2017-06-30 10:18] Neverbirth commented on #1667
Did you check your processes and happen to do any disk monitoring or look for file handles? maybe some application is abusing the hard disk? doesn't sound too normal.

[2017-06-30 14:15] sfxworks commented on #1667
How would I do that? I took this screenshot 10 seconds after a 2-minute freeze. It was hitting my CPU at 25-26 % usage but I didn't really do anything to warrant such an action except switch tabs from one Actionscript file to another.
![image](https://user-images.githubusercontent.com/5921035/27739500-cc1f7dec-5d7c-11e7-991e-cb1de38a75e3.png)

[2017-06-30 19:56] Neverbirth commented on #1667
Do you always work together with Animate? If so could it be some conflict between both applications?

Could you try using FD in portable mode to make sure that nothing got wrong with the settings of your current FD or that some 3rd party plugin is not breaking up anything?

Also, you say you use FD 5.2.0, what about latest dev build?

[2017-07-04 14:04] PippoApps opened #1674 "Impossible to register to flashdevelop forum. Captcha designed by Kafkha and the Sphinx."
How should this be intepreted?
"String("I'm a").toUpperCase() + "PROBOT... not." == ?:"
I tried all possible permutations, even shared it with other developers, nobody could come with a solution. What's in that forum? The codes to crack Tutankhamon treasure?

[2017-07-06 12:20] sfxworks commented on #1667
I work in parallel with animate. I have yet to use FD to launch Animate.

I have done a clean install with no other plugins but I have not tried portable mode.

I haven't been on the latest dev build.  I was able to solve a lot of this by letting my workstation defrag while on lunch, but this morning I had to restart it for it to load up all the libraries I use.

[2017-07-07 06:37] andrew-git commented on #1660
Works again, thanks!
Sorry for delay

[2017-07-07 06:37] #1660 closed

[2017-07-08 16:45] andrew-git opened #1675 "Find all references incorrect behaviour"
When searching all references for public field/method in latest version of FD also founds public references with same name from other classes.
Maybe related to https://github.com/fdorg/flashdevelop/issues/1660 / https://github.com/fdorg/flashdevelop/issues/1658

[2017-07-08 19:26] #1595 closed

[2017-07-08 20:55] Neverbirth commented on #1675
I hope I will be able to check #1666 tomorrow, and I may look into this, as @SlavaRa seems utterly busy lately. I'm too, but I have the feeling I may be able to look into this sooner, but he can contact me at any moment in case he is available.

[2017-07-09 05:40] andrew-git commented on #1675
Thanks!

[2017-07-14 08:57] apptaro opened #1676 "Compile Errors Not Showing On Results Panel When Project Path Contains Parentheses"
When you have a flashdevelop project somewhere like c:\projects(as3)\FDProject\
whose path contains braces, compile errors will not show on Results panel.

Ref: https://stackoverflow.com/questions/4446865/how-to-make-flashdevelop-errors-appear-in-results-panel#comment4857439_4447045

[2017-07-14 10:57] Neverbirth commented on #1676
Nice catch. I have several fixes lined-up together with some other stuff... but there is always something blocking me from committing it here. I will look into this one today.

[2017-07-14 12:25] Neverbirth commented on #1588
I pushed some fix for cases where missing libraries where reported after installing them.

[2017-07-14 13:52] Neverbirth opened #1677 "Current develop branch badly working"
Just found out a problem on latest develop version. I'm trying to work on the fix right now.

[2017-07-14 15:08] #1677 closed

[2017-07-14 21:22] #1676 closed

[2017-07-14 21:23] Neverbirth opened #1678 "[Haxe4] Columns offset +1 on build errors"
I didn't have the time to check when this regression happened, but noticed it today.

[2017-07-15 10:50] Gama11 commented on #1678
Are you using a dev build of Haxe?

https://github.com/HaxeFoundation/haxe/wiki/Breaking-changes-in-Haxe-4.0.0#1-based-column-numbers-in-compiler-errors-and-warnings

[2017-07-18 22:07] #1664 closed

[2017-07-21 08:13] andrew-git commented on #1675
Looks like fixed with @SlavaRa latest commit https://github.com/fdorg/flashdevelop/commit/ac356244098daa43de5fff3d80182ea571925b71 Could you confirm?

[2017-07-21 17:54] andrew-git opened #1680 "FD sometimes crashed on startup"
First run fresh version 5.2.1.211
![fd-crash](https://user-images.githubusercontent.com/1407827/28475802-635dd23c-6e56-11e7-9a78-559d566444d4.png)

Update to 5.2.1.211 version
![fd-crash2](https://user-images.githubusercontent.com/1407827/28475895-be3e27b0-6e56-11e7-974f-3d414e8b5e54.png)

5.2.1.203 worked stable

[2017-07-22 11:34] Neverbirth commented on #1680
Do you have any stacktrace to share? either in the error window or in exceptions.log. Do you know commit numbers?

[2017-07-23 10:53] andrew-git commented on #1680
I'll try to make stacktrace from window, FD exception log empty. Looks like it happens between https://github.com/fdorg/flashdevelop/commit/615df487b846144cc6f64b788b7df70d7ee150d4 and https://github.com/fdorg/flashdevelop/commit/ac356244098daa43de5fff3d80182ea571925b71

[2017-07-23 11:04] andrew-git commented on #1680
Unpack and run fresh version again, now have another 2 errors and exception (but FD started)

![fd01](https://user-images.githubusercontent.com/1407827/28498819-980290b8-6faf-11e7-98f3-3f891f017462.png)
![fd02](https://user-images.githubusercontent.com/1407827/28498820-9b9fe09a-6faf-11e7-9125-3bedc7bc57a2.png)

[2017-07-23 13:55] Neverbirth commented on #1680
Uhm... it's strange if it indeed happened between those commits.  Previous to it d2d92590a2d5b4b59426b09cb2ac61072697c123 had some big change as it updates FD to .NET4, but the previous commit made some big problem to happen and FD was behaving incorrectly... so it's difficult to say if it's really between the commits you say.

I will try to prepare some other builds to test.

And I will see if I'

[2017-07-23 14:26] Neverbirth commented on #1680
On my side everything works correctly, but I'm not using Windows XP. As I said, I will try to make 2 builds and see what happens on your end. I also want to try out to make 2 other changes to FD that may help on this kind of case.

[2017-07-23 16:04] andrew-git commented on #1680
My fault, 5.2.1.203 refers to https://github.com/fdorg/flashdevelop/commit/19a0a479d7f303530278c9f72e3b00a2f02a791c so update FD to .NET4 could cause that

[2017-07-23 16:05] Neverbirth commented on #1680
But I guess you have latest .NET 4 installed?

[2017-07-23 16:07] andrew-git commented on #1680
Not sure about latest, but .NET 4 definitely installed

[2017-07-23 23:05] Neverbirth commented on #1680
I've uploaded a dev version targetting .NET 3.5 [here](https://www.dropbox.com/s/s83t2rrzsx3ruf8/FlashDevelop-development.zip?dl=0). If it works it's indeed the .NET 4 update, but it shouldn't cause this and we will have to track down the problem.

[2017-07-24 09:42] andrew-git commented on #1680
On start I have same error as at https://github.com/fdorg/flashdevelop/issues/1680#issuecomment-317245262 so probably it's not about .NET

[2017-07-24 09:47] Neverbirth commented on #1680
Maybe you can mail me your skype to not pollute with comments the issue. I could prepare some other versions for you.

[2017-07-28 15:24] gene-pavlovsky opened #1681 "Custom scrollbars: On certain monitors the thumb is not aligned with the arrows (off by 1 px, I guess)"

[2017-07-28 16:07] NemoStein opened #1682 "AStyle fill-empty-lines won't fill empty lines"
In a .js file, empty lines won't be filled with spaces/tabs of previous line when "fill-empty-lines" is set.
Besides, FD (Scintilla maybe?) won't draw guide lines (those dotted lines) for empty lines between indented lines.

ps: Since astyle.dll is outdated, there is no "break-one-line-headers" too...

[2017-07-28 20:39] Neverbirth commented on #1682
We looked into updating AStyle recently but it was breaking something. I don't remember right now. It's not in the PR, but maybe you could try out this PR and give your feedback or comments: https://github.com/fdorg/flashdevelop/pull/1644

[2017-08-01 13:31] NemoStein commented on #1682
Sadly, I'm not able to compile from source at the moment...
I'll try as soon as I get to compile it.

[2017-08-01 16:34] Neverbirth commented on #1682
Oh, you don't need to compile. We compile binaries for every PR for fast checking. Just scroll to bottom, click on Show All Checks, then Details, it will open the AppVeyor build page, and there in Artifacts you can download a build to use.

[2017-08-01 16:59] NemoStein commented on #1682
CI makes the world a better place to live in... I'll test it ASAP!

[2017-08-01 17:45] NemoStein commented on #1682
The PR solved the "**fill-empty-lines**" problem, but the "**break-one-line-headers**" isn't available yet (as you said, the AStyle wasn't updated in this PR).
The UI of the Haxe formatter is great to view changes in real time (really loved it), but it seem to lack several AStyles options.
Besides, there is a problem (both in current FD as in this PR) that I'm not sure if it's a problem with AStyl

[2017-08-01 18:57] Neverbirth commented on #1682
I would say it's better to add any comment to the PR so it can be taken into account.

[2017-08-02 10:55] #835 closed

[2017-08-02 10:55] #1681 closed

[2017-08-03 12:49] gene-pavlovsky opened #1683 "Custom horizontal scrollbar thumb size / max position sometimes don't match the content"
Using a theme with custom scrollbars, didn't check yet with the system ones:
Example: if a line in the code is really long, horizontal scrollbar doesn't allow to scroll all the way to the right.
Removing that long line (if it's the only long line) doesn't seem to update the scrollbar correctly.

[2017-08-07 09:20] gene-pavlovsky opened #1684 "Auto-completing function in an interface implementor adds it as `internal` instead of `public`"
Using the development branch, working on an AS3 project:
- Declare a function in an interface
- Create a new class that should implement this interface
- In the class, type `function ` and press Ctrl+Space, FD offers to insert the function from the interface
- Press Enter

Expected result: function added as `public`
Expected: function is added as `internal`

[2017-08-07 09:27] gene-pavlovsky opened #1685 "Wrong indentation when adding two newlines after the beginning of a code block"
- Create a function or a code block, even an empty one will do e.g.
[code]
or even
[code]

- Position the cursor after the opening `{`
- Press Enter once
- Cursors moves to a new line, indenting 1 level
- Press Enter once again

Expected result: cursor moves to a new line, indent level stays the same since we're still in the same code block
Actual result: cursor moves to a new line, un-indenting 1

[2017-08-07 09:30] Neverbirth commented on #1684
I guess this comes from @SlavaRa's #1527 PR and the like.

[2017-08-07 10:29] Neverbirth commented on #1685
I think this one comes from some changes from @wise0704

[2017-08-07 10:33] gene-pavlovsky commented on #1684
Not sure if it's relevant, but I'm using the default setting of false for the "Generate explicit scope" ASCompletion setting.

[2017-08-07 11:55] gene-pavlovsky opened #1686 "Correctly indent when cursor is positioned on empty lines"
Definitions (to avoid confusion):
- *empty line* - a line consisting of only a line break (no spaces, no tabs)
- *blank line* - a line containing either spaces or tabs (hopefully not a mix of both!), followed by a line break, depending on editor indent character settings
- *column* - the X coordinate of the caret (1-based)
- *indent column* - the X coordinate of the indent level appropriate for th

[2017-08-08 08:28] SlavaRa commented on #1684
Hi @gene-pavlovsky, I'll check it out tonight.

[2017-08-18 21:40] SlavaRa opened #1688 "The end?"
Gyus, please explain what's going on

[2017-08-18 21:42] #1688 closed

[2017-08-18 21:43] SlavaRa opened #1689 "The end?"
Guys, please explain what's going on

[2017-08-18 22:10] Neverbirth commented on #1689
I'm on holidays without wifi right now. Short version on my side: waiting for @meychi's return in a few days.

[2017-08-18 22:20] SlavaRa commented on #1689
It all demotivates, I can not understand whether to do something to me or quit. All too long

[2017-08-18 22:23] Neverbirth commented on #1689
I wrote to you on slack. But yes, same here. As I said, waiting for @Meychi

[2017-08-19 02:39] sfxworks commented on #1689
Woah what do not end this project FD is awesome.

[2017-08-19 07:38] Meychi commented on #1689
Hold your horses, i will be back soon and we will start release cycle normally. I'm off from my vacation but i need to handle one work thing first and then we start to prepare for the next release.

[2017-08-21 16:41] asdfgl3d commented on #1426
Any news about this?

[2017-08-23 07:33] #1014 closed

[2017-08-23 07:45] #1689 closed

[2017-08-24 13:13] #1684 closed

[2017-08-27 17:08] SlavaRa commented on #1675
@andrew-git please check latest dev build

[2017-08-27 17:13] andrew-git commented on #1675
Looks good

[2017-08-31 12:06] #1553 closed

[2017-09-02 09:32] SlavaRa opened #1696 "[Haxe] Wrong auto import after override of function"
[code]

expected result:
[code]

actual result:
[code]

[2017-09-03 08:50] SlavaRa opened #1699 "[Haxe][FileParser] Wrong parse function parameters"
[code]
expected type of v: ```{a:Array<haxe.Timer>}->{a:haxe.ds.Vector<Type.ValueType>}->String```
actual type of v: ```{a:haxe.ds.Vector<Type.ValueType>}->String```

[2017-09-03 08:51] SlavaRa commented on #1696
Depends on #1699

[2017-09-03 20:50] #1699 closed

[2017-09-03 21:26] #1460 closed

[2017-09-04 04:35] SlavaRa commented on #1696
[code]

expected result:
[code]

actual result:
[code]

Depends on #1702

[2017-09-05 06:01] SlavaRa opened #1704 "[Haxe] Wrong result after assign statement to var"
[code]

expected result:
[code]

actual result:
[code]

[2017-09-06 06:30] SlavaRa commented on #1704
Depends on #1696 #1705

[2017-09-06 20:43] #1696 closed

[2017-09-11 14:11] #1704 closed

[2017-09-12 15:42] SlavaRa opened #1712 "[Haxe][ASGenerator] Wrong auto import after `Change constructor declaration`|`Change method declaration`"
[code]
actual result:
[code]
expected result:
[code]

https://github.com/fdorg/flashdevelop/blob/development/External/Plugins/ASCompletion/Completion/ASGenerator.cs#L2630
tips:
[code]

[2017-09-14 11:08] #1675 closed

[2017-09-14 11:10] Neverbirth commented on #1426
I think this would be more or less easy to support, but since my team doesn't use it I never looked into it.

[2017-09-25 15:22] gene-pavlovsky commented on #1683
I've been able to identify the cause of the issue. Custom horizontal scrollbar uses Scintilla's `ScrollWidth` property to identify the width of the content. Scintilla uses a fixed value of 2000 by default, which grows as necessary (if `ScrollWidthTracking` is on, which is the default). FlashDevelop sets this value to 3000 by default, and keeps `ScrollWidthTracking` enabled.

However, Scintilla doe

[2017-09-26 19:01] Neverbirth opened #1717 "[Haxe] Organize imports dependent of settings"
In order for "Organize imports" to work the user must have enabled the "Enable folding" and "Fold At Preprocessor" settings. This is the default and it's quite unlikely users will modify it, but it shouldn't be like that.

[2017-09-28 17:55] arietto commented on #1469
It's autumn...

[2017-09-28 20:22] Gama11 commented on #1469
Maybe related to https://github.com/HaxeFoundation/haxe/issues/6212. Have you tried the Haxe 4 preview release?

[2017-09-30 18:50] #1671 closed

[2017-10-02 18:40] #1626 closed

[2017-10-03 22:46] #1685 closed

[2017-10-09 09:12] #756 closed

[2017-10-09 09:15] delahee opened #1721 "[Haxe/flash/AIR] Unable to step in the code in AIR app"
Hi

With Haxe Develop and Flash Develop ( tested both back to 5.0.1 ) , when I put breakpoint or have an error in an AIR app, I have an error :

This happens on a shallow computer out of the bow with a fresh windows 10 install:

"
Le handle Win32 passé à Icon n'est pas valide ou d'un type incorrect.

   à System.Drawing.Icon..ctor(IntPtr handle, Boolean takeOwnership)
   à System.Drawing.Icon..cto

[2017-10-09 10:28] Neverbirth commented on #1721
OS? How are you testing the new versions? is it by any chance by manually unzipping? If I'm not wrong around that version some new icons where introduced for some new features, and those icons are taken from a file located in the Settings folder. I wonder if it's related and you didn't replace the old file with the new one.

[2017-10-09 12:15] delahee commented on #1721
Windows 10
tested with new installer and old installer from 5.0.1 and unzipping and old haxdevelop, there must be something related to that...

I have an older win10 box that work like a charm...

[2017-10-09 16:11] Neverbirth commented on #951
Seems to not be reproducible anymore.

[2017-10-09 16:11] #951 closed

[2017-10-24 19:52] markknol commented on #1426
+1

[2017-10-25 13:09] Meychi commented on #1426
@Neverbirth, @SlavaRa?

[2017-10-25 13:18] SlavaRa commented on #1426
I will be free only on weekends :(

[2017-10-26 08:18] SlavaRa opened #1722 "[FlashDevelop x64] Unable to load an incompatible or broken plugin"
FD 5.3.0.48
jni4net.n.w32.v40-0.8.8.0.dll

[2017-10-26 09:15] Neverbirth commented on #1722
Yeah, we know... @Meychi was going to do this one some weeks ago.

[2017-10-26 09:46] Meychi commented on #1722
I think i did fix it. Need to check.

[2017-10-26 10:29] SlavaRa opened #1724 "[UI] Folding members does not work from UI but works from keyboard"
FD 5.3.0.48

[2017-10-27 10:39] #1724 closed

[2017-10-27 10:57] #1712 closed

[2017-10-27 18:27] SlavaRa commented on #1481
It's a challenge for me :)

[2017-10-27 18:38] SlavaRa commented on #1218
now all ok

[2017-10-27 18:39] SlavaRa commented on #1161
now all ok

[2017-10-27 18:58] Meychi commented on #1481
We already have a macro which executes the file with its associated program, ie html with default browser, xsl with excel etc...

[2017-10-27 19:00] Meychi commented on #1481
Hmm, actually it executes the current file in editor not in project view.

[2017-10-27 19:01] #1218 closed

[2017-10-28 20:45] #1722 closed

[2017-10-30 09:54] SlavaRa commented on #1721
@delahee  the latest official release 5.2.0, please check it.

[2017-10-31 09:36] SlavaRa opened #1731 "[Haxe][ASGenerator] Wrong auto import after execution `Add to interface`"
[code]
actual result:
[code]
expected result:
[code]

[2017-10-31 12:24] SlavaRa opened #1733 "[Haxe][ASGenerator] Wrong property generation after executing `Add to interface`"
[code]
actual result:
[code]
expect result:
[code]

[2017-10-31 12:30] SlavaRa commented on #1733
[code]
actual result:
[code]
expect result:
[code]

[2017-10-31 12:31] SlavaRa commented on #1733
Depends on #1732

[2017-10-31 15:19] SlavaRa opened #1734 "[Haxe][ASGenerator] Wrong property generation after executing `Generate private|public variable`"
[code]
actual result:
[code]
expected result:
[code]

[2017-10-31 15:21] SlavaRa opened #1735 "[Haxe][ASGenerator] Wrong auto import after executing `Generate public function`"
[code]
actual result:
[code]
expected result:
[code]

[2017-10-31 15:22] #1731 closed

[2017-10-31 21:16] SlavaRa opened #1738 "[Haxe][ASGenerator][Feature] Offer to generate a constructor instead of a modification of declaration if the constructor is not declared in the class or in the parents"
[code]
actual result:
<img width="256" alt="2017-11-01_0-15-17" src="https://user-images.githubusercontent.com/1700940/32249353-cdaee516-be99-11e7-99a1-26d24c93ed5b.png">

[2017-10-31 21:21] SlavaRa commented on #1738
after #1565

[2017-11-01 10:45] #1735 closed

[2017-11-02 09:05] danilostroushko opened #1742 "Drag & Drop not working"
when i drag&drop some files (.as, .xml, etc) to the editor, it not open it, in previous builds it could be, in latest builds cursor is show "not"

[2017-11-02 09:07] SlavaRa commented on #1742
what version of the editor?

[2017-11-02 10:05] danilostroushko commented on #1742
5.3.0.66

[2017-11-02 14:36] SlavaRa commented on #1742
I can not reproduce this behavior, can you do gif?
http://www.screentogif.com/

[2017-11-02 14:51] danilostroushko commented on #1742
http://prntscr.com/h5bavk
just a drag any text file

[2017-11-02 15:21] SlavaRa opened #1743 "[Haxe][ASGenerator] Runtime error `Object reference not set to an instance of an object.` after execution `Generate interface definition` for get|set"
[code]
[code]

[2017-11-03 11:22] markknol opened #1744 "[Haxe] Switching projects throws errors in output."
I downloaded latest dev build, but it feels very unstable. When I open a project it says
[code]
This is sometimes followed by a lot of
![image](https://user-images.githubusercontent.com/576184/32371359-d2425678-c090-11e7-8517-ed1e3c4bae73.png)

And I had a few crashes when saving a file.

OS: Windows 10
HaxeDevelop Version:
![image](https://user-images.githubusercontent.com/576184/32371312-aa02f8a

[2017-11-03 11:27] SlavaRa commented on #1744
@markknol what version of the compiler?

[2017-11-03 11:29] SlavaRa opened #1745 "[Haxe][CodeRefactor] Refactoring `Generate Delegate Methods ...` should not work in interfaces"

[2017-11-03 11:47] markknol commented on #1744
Doesn't seem to matter, but multiple versions:
* 4.0 preview 2
* 3.4.2

[2017-11-03 11:49] Neverbirth commented on #1744
I've seen similar errors thrown by the compiler because of macros, I wonder if it's related.

[2017-11-03 11:54] markknol commented on #1744
Yes, there are several macros involved. I now switched back to older version (https://github.com/fdorg/flashdevelop/commit/29f5e11d76) and everything works:

[2017-11-03 12:57] SlavaRa opened #1747 "[ASGenerator][Bug] Autoimport of yourself after execution `Refactor -> Code Generator`"
[code]
actual result:
[code]
expected result:
[code]

[2017-11-03 21:26] #1745 closed

[2017-11-03 21:27] #1747 closed

[2017-11-03 22:31] SlavaRa commented on #1743
Depends on #1564

[2017-11-04 09:09] SlavaRa opened #1749 "[Bug][ASGenerator] Wrong result after execution `Assign statement to variable` for `1 + 2;`"
[code]
actual result:
[code]
expected result:
[code]

[2017-11-04 19:29] Neverbirth commented on #1744
Just getting those messages in the output panel doesn't mean there is actually a problem, it's just the output of the compiler itself. The difference with old FD versions is the support of the diagnostics display mode of the compiler. You can disable it in the settings, but again, these messages don't represent a real problem in the code... it's a shame to get these fake errors, I already got used

[2017-11-04 19:30] Neverbirth commented on #1743
Are you sure it's 1564?

[2017-11-04 19:31] Neverbirth commented on #1742
I cannot reproduce it either :S.

[2017-11-05 11:38] SlavaRa commented on #1743
Oh, typo... fixed :)

[2017-11-05 16:11] SlavaRa opened #1751 "[Haxe][ASGenerator][Bug] Runtime error `Object reference not set to an instance of an object.` after execution `Assign statement to variable` for a non-existent class"
[code]
[code]
Expected behavior: suggest `Creating new class` instead of `Assign statement to variable`

[2017-11-05 20:39] andrew-git opened #1752 "[HaXeContext][CodeRefactor] Refactor renaming not working for local vars"
With Completion Server and Enabled Compiler Services (EnableForFindAllReferences), not working renaming of local vars.
When EnableForFindAllReferences disabled, works fine

[2017-11-05 21:01] SlavaRa commented on #1752
Haxe 3.2.1
FlashDevelop 5.3.0.68

[2017-11-05 21:48] SlavaRa opened #1753 "[CodeRefactor][Feature] Inline local variable"
[code]
expected result
[code]

[2017-11-05 21:56] SlavaRa opened #1754 "[HaXeContext][CodeRefactor][Feature] Extract type declaration to typedef"
[code]
expected result
[code]

[2017-11-05 22:06] SlavaRa opened #1755 "[ASGenerator][Bug] Disable contextual codegenerator for `super()`"
[code]

[2017-11-05 22:12] SlavaRa opened #1756 "[Bug][ASGenerator] Wrong result after execution `Assing statement to variable` for `true ? 1 : 2;`"
[code]
expected result
[code]
actual result
[code]

[2017-11-05 22:30] SlavaRa opened #1757 "[ASGenerator][Bug] Disable contextual codegenerator for `some()` where `some` is `function some():Void`"
[code]

[2017-11-06 07:00] shintiger commented on #1674
Same here

[2017-11-06 19:19] SlavaRa opened #1759 "[HaXeContext][CodeGenerator][Feature] `Generate switch labels` for enum"
[code]
expected result
[code]
Depends on #1565 #1867

[2017-11-06 20:23] SlavaRa commented on #1755
Depends on #1758

[2017-11-06 21:50] #1757 closed

[2017-11-07 21:37] Ulfasaar commented on #1424
Thanks Neverbirth, sorry for the insanely long time it took me to get back to you. I have stopped using flash now as some members of my family have macs so I don't have to use adobe air anymore.

Instead I am working hard on a IOT project and mostly using visual studio code. Thank you very much for your assistance however and I hope you have a great day :)

[2017-11-07 21:37] #1424 closed

[2017-11-08 08:27] SlavaRa opened #1762 "[Haxe][ASGenerator][Bug] Wrong result after execution `Create new class` for `new Some(null);`"
[code]
expected result
[code]
actual result
[code]

[2017-11-08 13:59] SlavaRa opened #1764 "[Bug][ASGenerator] Wrong result after execution `Assign statement to variable` for `1 < 2;`"
[code]
expected result
[code]
actual result
[code]

Depends on #1760

[2017-11-08 14:41] PippoApps commented on #1674
It seems nobody maintains this wiki or the forum anymore...

[2017-11-08 14:46] Meychi commented on #1674
Sorry, we have very limited time so our focus has not been on the forums lately. I will check this soon.

[2017-11-08 15:24] SlavaRa opened #1765 "[Bug][ASGenerator] Wrong result after execution `Assign statement to variable` for `1 << 2;`"
[code]
expected result
[code]
actual result
[code]
Depends on #1756 #1760 #1764

[2017-11-08 16:55] SlavaRa opened #1766 "[Bug][Haxe][ASGenerator] Contextual codegenerator not works for `[1 => 1, 2 => 2];`"
[code]
expected result after executing `Refactor -> Code generator`
[code]

[2017-11-09 06:17] SlavaRa opened #1767 "[Haxe][ASGenerator][Bug] Wrong autoimport after execution `Refactor -> Code Generator...`"
[code]
actual result
[code]

[2017-11-09 10:55] SlavaRa commented on #102
Now FlashDevelop can import a project from an .hxml file. I think that this issue is accomplished

[2017-11-09 18:52] #697 closed

[2017-11-09 20:21] SlavaRa commented on #771
Now all ok

[2017-11-09 20:43] #771 closed

[2017-11-09 21:09] SlavaRa commented on #1199
Yep

[2017-11-09 21:11] SlavaRa commented on #1161
bump, now all ok

[2017-11-09 21:15] #1199 closed

[2017-11-09 21:15] #1161 closed

[2017-11-09 21:17] SlavaRa commented on #838
I can not understand what the problem is: (

[2017-11-09 21:18] SlavaRa commented on #809
Now all ok

[2017-11-09 21:20] #809 closed

[2017-11-09 21:23] SlavaRa commented on #764
Bug

[2017-11-09 21:24] SlavaRa commented on #1045
Bug, Enchacement

[2017-11-09 21:30] SlavaRa commented on #1617
Bug, coderefactor

[2017-11-09 21:31] SlavaRa commented on #1616
Enhancement, coderefactor

[2017-11-09 21:32] SlavaRa commented on #1431
Fixed

[2017-11-09 21:33] SlavaRa commented on #1426
Haxe, enhancement

[2017-11-09 21:34] #1431 closed

[2017-11-10 04:04] matrix3d opened #1771 "Delete Ctrl +alt+space shortcut keys"
Delete Ctrl +alt+space shortcut keys. When I input `var a:` It does not display all the class prompts, and automatically completes them. Only when I input this shortcut key will all classes be displayed. When I input `new` , all class prompts are displayed and finished automatically. When `var a:`, it also displays all classes, which is the best.

[2017-11-10 04:33] #1212 closed

[2017-11-10 09:19] Meychi commented on #1674
Sorry, there was a missing space in the answer, should be fixed now.

[2017-11-10 09:19] #1674 closed

[2017-11-10 10:35] PippoApps commented on #1674
Thank you very much. Heartwarming to know FlashDevelop is still maintained. Great IDE.

[2017-11-10 20:31] SlavaRa commented on #1150
Haxe, Enhancement
Work in progress

[2017-11-12 09:13] JuraseyGS commented on #1656
@SlavaRa Я так понял, что весь текст IDE хранится в файл .resx (en_EN.resx). Есть некоторые проблемы в переводе, позже когда переведу все, добавлю сюда готовый файл.

[2017-11-12 11:40] SlavaRa commented on #1656
Да, локализации хранятся в этих файлах. Ок ждём :)

[2017-11-13 09:18] YellowAfterlife opened #1774 ""override" marker column briefly disappears on state change"
This thing, for clarity:
![image](https://user-images.githubusercontent.com/731492/32717807-ae28fece-c863-11e7-81dd-276a39bf66d3.png)
when doing something that requires re-evaluation of the file (such as switching projects or changing settings), the column that houses these markers disappears (shifting the code and line numbers to the left), and later reappears (shifting elements to the right).

I

[2017-11-13 13:54] gene-pavlovsky opened #1775 "Exception when saying yes to saving modifications when a modified file is deleted"
Steps to reproduce
1) Create a file in a directory, save it
2) Modify the file (don't save it)
3) In the project panel, select the file, press Delete
4) There is a dialog "File will be moved to the recycle bin. OK / Cancel"
Answer OK
5) There is a dialog "Do you want to save the current changes? Yes / No / Cancel"
Answer Yes

I think the "do you want to save the current changes" dialog shouldn't s

[2017-11-13 14:11] SlavaRa commented on #1775
Bug

[2017-11-13 14:14] Meychi commented on #1775
I tried the first one and it deleted the file fine but asked to save the modified file and then saved a new copy. No exception here. I think its good to confirm if the changes should be saved if you accidently hit del and enter. They are next to each other in my keyboard. The second one is a bug.

@SlavaRa: Can you recreated the first?

[2017-11-13 14:17] SlavaRa commented on #1775
Yes, I came across a similar one, I'll try to figure out what's going on tonight

[2017-11-13 15:04] gene-pavlovsky commented on #1775
I think maybe in the first case a different dialog should show up, smth like. "The file has local modifications. Are you sure you want to delete it?".
I think the problem is the order of events that fire, so as a result the "do you want to save?" dialog appears after the "do you want to delete?" dialog.

Personally, if any application (or OS command) asks me a confirmation to delete something, I d

[2017-11-14 17:22] jgranick opened #1777 "Use of OpenFL/Flash results in multiple unclosed processes"
(source: http://community.openfl.org/t/many-instances-of-neko-exe-running-neko-wont-close-when-flash-player-is-closed/9773/11)

It sounds like we need:

 * ...to know that FlashDevelop is calling our tools, using an environment variable, and to disable tracing in that instance. Is there one?
 * ...to have FlashDevelop use OpenFL's trace output, instead of its own
 * ...to add `-notrace` when Flash

[2017-11-14 17:30] Meychi commented on #1777
@SlavaRa, @Neverbirth?

[2017-11-14 19:41] SlavaRa commented on #1777
I will tackle this issue tomorrow.

[2017-11-14 22:27] Michoko92 opened #1778 "ADT sessions not closing and debug sessions error"
Hi,

I get the "Error details: net.sf.jni4net.jni.JNIException: Can't find jni4net.j-0.8.8.0.jar" error with version 5.3.0. All works fine with 5.2.0.

I tried updating from 5.2, or reinstalling 5.3 from scratch, same result.

Here is my config:
Windows 10 Pro
Intel Core i7
16 GB RAM
Java 1.8

I found a fix though: just move the "jni4net.j-0.8.8.0.jar" file that is located in the "Plugins" directo

[2017-11-15 11:44] SlavaRa commented on #118
@Meychi I think that this issue can be closed

[2017-11-15 11:49] SlavaRa commented on #467
Fixed

[2017-11-15 12:09] SlavaRa commented on #796
Now all ok

[2017-11-15 14:55] andrew-git opened #1780 "[Haxe][ASGenerator][Bug] Wrong type detection"
After generating function for
`func(Math.round(x))`
received
`function func(round:*)`
expected
`function func(round:Int)`
or
`function func(round:Float)`

[2017-11-15 15:07] SlavaRa commented on #1780
Bug

[2017-11-15 15:29] Meychi commented on #1778
@Neverbirth, @SlavaRa?

[2017-11-15 16:23] SlavaRa commented on #1752
Bug

[2017-11-15 19:28] SlavaRa commented on #1777
@Meychi @jgranick I'll start work on this task on Monday, I'll keep you posted

[2017-11-15 19:32] SlavaRa commented on #1393
Now all ok

[2017-11-15 19:34] SlavaRa commented on #1272
I think that this issue can be closed

[2017-11-15 19:53] #1272 closed

[2017-11-15 19:53] #1393 closed

[2017-11-15 20:00] SlavaRa commented on #1179
fixed in 5.3.0, this issue can be close

[2017-11-15 20:06] #1179 closed

[2017-11-15 20:15] SlavaRa commented on #736
Enhancement

[2017-11-15 20:17] SlavaRa commented on #596
Now all ok

[2017-11-15 20:57] #596 closed

[2017-11-15 22:00] andrew-git opened #1783 "[Haxe][ASGenerator][Bug] Wrong class generation from typedef"
Lets have class X
[code]
if we generate new class and set Base Class X.Sprite we got empty constructor
[code]
expected call super();

[2017-11-15 22:02] SlavaRa commented on #1783
Enhacement

[2017-11-16 11:08] Ujimych opened #1784 "[Haxe][Java] Type not found for import"
1. We take files for the project [libgdx-haxe-example](https://github.com/nadako/libgdx-haxe-example)
2. In FD we create a new project for previously downloaded and unpacked files (Project-> New Project-> Haxe-> Empty Project
3. Go to the project settings and change the platform to "html"
4. Restarts FD
5. Open the file of the class "Main.hx" and on the "output" panel it is displayed:

6. If this

[2017-11-16 11:13] SlavaRa commented on #1784
`hxml` mb?

[2017-11-16 11:18] Ujimych commented on #1784
yes, right

[2017-11-16 11:19] SlavaRa commented on #1784
Please edit issue

[2017-11-16 11:51] SlavaRa commented on #1784
Please add `-cp` in `build.hxml`. Check and close this issue. Thanks

[2017-11-16 12:02] SlavaRa opened #1785 "AIR 28 support"
https://fpdownload.macromedia.com/pub/labs/flashruntimes/shared/air28_flashplayer28_releasenotes.pdf

[2017-11-16 12:43] Ujimych commented on #1784
This is not a solution

[2017-11-16 12:43] SlavaRa commented on #1784
Tools-> Properties... -> HaxeContext -> Completion Mode compiler?

[2017-11-16 12:46] Ujimych commented on #1784
Yes

[2017-11-16 12:47] SlavaRa commented on #1784
Vanga mode off :)

[2017-11-16 14:59] kennylerma opened #1787 "Can't find jni4net.j-0.8.8.0.jar in escaped path. Version 5.3.0.3"
Escaping the path below is causing an issue finding the needed java files.  The jar file is indeed located at this path on my install of FlashDevelop.

C:\Program%20Files%20(x86)\FlashDevelop\Plugins\jni4net.j-0.8.8.0.jar

Temporary fix:  I copied the java files below to the FlashDevelop root folder as below.
jni4net.j-0.8.8.0.jar
jni4net.n.w32.v20-0.8.8.0.dll
jni4net.n.w32.v40-0.8.8.0.dll

Copy t

[2017-11-16 15:34] Ujimych commented on #1784
Well, I'll write differently.

Why does a message appear when open a class file "Main":

If this project is opened in FD 5.2 this is not!

[2017-11-16 20:03] Meychi commented on #1778
Do you happen to have both of these files present:
jni4net.n.w32.v20-0.8.8.0.dll
jni4net.n.w32.v40-0.8.8.0.dll

[2017-11-17 05:53] feipinxiang commented on #854
fd now have the "Highlight matching words" matches line yet?

[2017-11-17 12:01] Michoko92 commented on #1778
I had those 2 files when I upgraded from FD 5.2. As I suspected it may create conflicts, I uninstalled FD completely, and only installed FD 5.3. Now I only have the file named "jni4net.n.w32.v40-0.8.8.0.dll" in the Plugins dir.
But even in that case, I need to move the "jni4net.j-0.8.8.0.jar" file one level up so FD can work properly.

[2017-11-17 12:04] Meychi commented on #1778
Ok, thanks, it needs to be in the path resolving then.

[2017-11-17 12:14] Meychi commented on #1778
@SlavaRa, @Neverbirth: Could this be due to changes to PathHelper:
https://github.com/fdorg/flashdevelop/commit/94d01d4bb66b804258fe0e10929424d073860fdd
or
https://github.com/fdorg/flashdevelop/commit/7ccc1b43f926061eb403f54c10dea09807d3f0ab

[2017-11-17 12:17] Meychi commented on #1778
More info: http://www.flashdevelop.org/community/viewtopic.php?f=13&t=13008

[2017-11-17 12:19] Meychi commented on #1778
#1787

[2017-11-17 18:29] pzahra commented on #1787
Temporary fix didn't work for me. This happens on first run:
[code]

Subsequent runs show no message in output, but popup says "Internal Debugger Exception". Log says:

[code]

[2017-11-20 12:33] #1785 closed

[2017-11-20 12:34] Meychi commented on #1787
@SlavaRa, @Neverbirth?

[2017-11-20 21:00] #1762 closed

[2017-11-21 08:11] #1767 closed

[2017-11-21 14:02] #191 closed

[2017-11-21 19:54] #232 closed, assigned to nobody

[2017-11-22 11:12] #1751 closed

[2017-11-22 12:59] SlavaRa opened #1788 "[SourceControl][Git][Hg] Can not delete an empty directory with empty directories"
![sourcecontrol_git_hg_fix_remove_empty_dir](https://user-images.githubusercontent.com/1700940/33128117-4ca98156-cf9c-11e7-9786-ff9b4a8861f9.gif)

[2017-11-22 13:17] SlavaRa opened #1790 "[ASCompletion][Bug] `startIndex cannot be larger than length of string.`"
[code]
[code]

[2017-11-22 14:03] #1790 closed

[2017-11-22 20:05] #1755 closed

[2017-11-22 20:29] #1788 closed

[2017-11-23 10:43] ncannasse opened #1793 "[Haxe] References libs not found"
I used to be able to add -lib in "Additional Dependencies", or include other .hxml there that might have -lib as well. With latest HaxeDevelop 5.3 the libraries are only listed if they are part of the "Libraries" configuration section, which is a regression vs 5.2

[2017-11-23 10:44] Meychi commented on #1793
@SlavaRa?

[2017-11-23 11:32] SlavaRa commented on #1793
@Meychi I'll check it out throughout the day.

[2017-11-23 11:45] #1778 closed

[2017-11-23 13:20] ncannasse opened #1794 "[Haxe] haxe.exe is kept open"
When closing HaxeDevelop, there are several `haxe.exe` process instances which are kept running and needs to be killed by hand. That was not the case in 5.2 where closing it would close all sub processes.

[2017-11-23 13:49] Meychi commented on #1794
@SlavaRa, @Neverbirth ?

[2017-11-23 15:10] SlavaRa commented on #1794
I'll check in an hour or two

[2017-11-23 15:42] gene-pavlovsky opened #1795 "Completion list shows up then disappears"
After updating FD to 5.3.0.3 (release version)

Working on a *Haxe* project:
With the new build, whenever I type something which would normally offer the completion list, e.g. `this.`, the completion list appears for a brief moment, then magically disappears.
It happens always.
I have haxe 3.4.4.

This doesn't happen in an AS3 project.

[2017-11-23 15:44] gene-pavlovsky opened #1796 "Error after switching from an AIR AS3 project to a Haxe JS project"
After updating FD to 5.3.0.3 (release version)

I had an AIR AS3 project open, then I opened a recent Haxe JS project, using the Recent Projects toolbar icon.
An error dialog popped up, saying:
[code]

[2017-11-23 15:44] SlavaRa commented on #1795
do you use PostfixCompletionPlugin?

[2017-11-23 15:52] gene-pavlovsky opened #1797 "New source control commit dialog doesn't remember last used display (screen)"
There is a nice new "Would you like to create a commit for this action" dialog in FD 5.3.
But, I have FD open on 2nd display, but the dialog always shows up on the 1st display in the top-left corner.
Even if I move the dialog to the 2nd display before closing it, next time it opens on the 1st display again.
I think that:
- Dialog should open on the same display as FD by default
- Dialog should rem

[2017-11-23 15:55] gene-pavlovsky opened #1798 "Deleting a directory in the Project panel doesn't close already open tabs with files from that directory"
Assuming a project has `dir/file.hx` file, and that file is open,
Delete the entire `dir` directory using the Project panel.
The file.hx tab remains open. If you make any changes to this file and try to save it, an exception is thrown (since the directory doesn't exist anymore).

[2017-11-23 16:01] SlavaRa commented on #1787
@kennylerma please check latest development build

[2017-11-23 16:02] Neverbirth commented on #1794
The times I've seen this happening are caused by https://github.com/HaxeFoundation/haxe/issues/6324.

I don't know if this is the same case or not.

[2017-11-23 16:05] Neverbirth commented on #1796
I think this could be related to the Haxe Diagnostics support. @chipshort

[2017-11-23 16:10] ncannasse commented on #1794
They are not in infinite loop. When i start haxedevelop 5.3 it opens a
haxe.exe process, when I compile it starts another one. When I quit there
is one remaining.
They might be processes having output which is not being read by HD, so
they are on hold until the output is processed.
Processes should not be detached from main HD/FD process so they won't
outlive it.

On Thu, Nov 23, 2017 at 5:02 PM,

[2017-11-23 16:17] gene-pavlovsky commented on #1795
Not on this PC

[2017-11-23 16:17] gene-pavlovsky commented on #1796
I could only reproduce it once so far...

[2017-11-23 16:24] SlavaRa commented on #1795
Completion mode?
Can you give me sample project?

[2017-11-23 17:11] SlavaRa commented on #1793
@ncannasse What type of project are you using?

[2017-11-23 17:15] ncannasse commented on #1793
It's an HashLink project, but I have the same with a Haxe/JS one

On Thu, Nov 23, 2017 at 6:11 PM, SlavaRa <notifications@github.com> wrote:

[2017-11-23 17:20] SlavaRa commented on #1793
Thanks

[2017-11-23 18:44] SlavaRa commented on #1784
@Ujimych please check the latest development build

[2017-11-23 20:12] Meychi commented on #1793
Seems it due to this PR: https://github.com/fdorg/flashdevelop/pull/1339

[2017-11-23 20:13] Meychi commented on #1793
@Neverbirth, comments?

[2017-11-23 20:24] #1793 closed

[2017-11-23 20:50] Meychi commented on #1798
Should it just close the file or let you re-save correctly if you wish to do so? I would like to have the second to match the file operation.

[2017-11-23 21:22] gene-pavlovsky commented on #1798
Personally I think it should close the file.
When I delete a folder, there is already a confirmation dialog asking me if I'm sure.
I said yes I'm sure, and that should be it.
There's usually a recycle bin and/or source control to fix blunders.
Again, personally, I hate to have to confirm something more than once? Microsoft software and OS are really prone to this. Really frustrating when there are

[2017-11-23 21:28] Meychi commented on #1798
Very true, i think they are also trying move away from it. Maybe we could have a setting were user can have the confirms as they are now and then default to no multiple confirms.

[2017-11-23 21:30] Meychi commented on #1798
Or not the confirms but the closing of the file when its or the containing folder is deleted.

[2017-11-23 21:32] SlavaRa commented on #1798
@gene-pavlovsky  write to me in the skype

[2017-11-23 21:34] gene-pavlovsky commented on #1798
@SlavaRa I think I don't have your Skype, but I can ask Hector.
Gotta go to bed, I will message you tomorrow :)

[2017-11-23 21:37] SlavaRa commented on #1798
@gene-pavlovsky skype: slava_er.a.

[2017-11-23 22:21] andrew-git commented on #1783
Tested, works fine.
Thanks!

[2017-11-24 07:02] SlavaRa opened #1801 "[Bug] Unable to load an incompatible or broken plugin: CodeRefactor.dll"

[2017-11-24 07:16] #1801 closed

[2017-11-24 08:33] Neverbirth commented on #1787
Actually this is a bug in latest Jni4Net that I fixed 2.5 years ago, and was merged in the official repository (https://github.com/jni4net/jni4net/commit/fab0ea8488f4310f7294dfede9d225542261d61a), however the latest binary distributed is from September 2014, before the fix.

The binary we had before was compiled by us, and I was expecting there was some new official release since then as there are

[2017-11-24 09:03] gene-pavlovsky commented on #1795
Completion mode = compiler.
I will see if I can make a minimal example.

[2017-11-24 11:21] gene-pavlovsky commented on #1795
Well unfortunately I can't reproduce it with a simple test project.
It is reproducible with the project at work, which I can't share of course. Maybe @Neverbirth should be the one to look into it since he has access to the same sources :)

[2017-11-24 18:51] Ujimych commented on #1784
The autocompletion of the code in FD_5_3_1_19 became more stable.
Although there were a few moments when closed, when you enter the first character after the point, but the video could not record.

But still there is a message:

There were incorrect error messages when opening the project. (see video FD_5_3_1_19)

Irritates an error message that does not disappear:

Work of version 5.2:
[video](ht

[2017-11-24 19:28] Ujimych commented on #1795
In my project, it can be caught 100%.
The video can be seen.

[2017-11-24 23:16] ncannasse commented on #1793
Please note that the fix only partially close the issue : it still does not
allow to have -lib in an external hxml file referenced from the parameters
as the previous behavior did

On Thu, Nov 23, 2017 at 9:24 PM, Mika Palmu <notifications@github.com>
wrote:

[2017-11-25 05:52] SlavaRa commented on #1793
Please, one problem - one issue, ok?

[2017-11-25 08:26] ncannasse commented on #1793
That is the same issue, only the commit fixed it partially. Should I open
again a new one with same content ?

Le 25 nov. 2017 06:52, "SlavaRa" <notifications@github.com> a écrit :

[2017-11-25 08:34] SlavaRa commented on #1793
I do not insist, but it's better to open a new task and describe the structure of the hxml file, ок?

[2017-11-25 09:48] SlavaRa commented on #1793
@ncannasse I think that there is some kind of nuance, because my project consists of a lot of hxml files and everything is fine

[2017-11-25 09:58] #1783 closed

[2017-11-25 19:05] asianboi2323 commented on #1626
Hey! I got a question for you. Your code above contains an array written in multi-line where two brackets [] are not on the same line. Now the problem is that when I use the code-formatter, it compresses all the elements in the array into one line, like "_var a:Array = [{value: 'a'}, {value: 'b'}, ...]_". The code formatter is a good tool but this is really annoying especially when there is a lot

[2017-11-25 19:10] wise0704 commented on #1626
open a new issue

[2017-11-26 06:13] asianboi2323 commented on #1626
Okay, that's fine, I fixed it. Thanks you.

[2017-11-26 06:55] zacdevon opened #1805 "Intellisense listing keeping disappearing after 1 sec"
I've installed the latest FD 5.3 and am using Haxe. I just created a new project and whenever I start typing any code, the Intellisense listing shows and disappears within a second, even before I have a chance to choose any item from the list. Is this a known issue?

Even the Intellisense documentation tips hide after a second...

[2017-11-26 06:59] zacdevon commented on #1805
See this GIF here:

![GIF](http://g.recordit.co/14JRwxwBkN.gif)

[2017-11-26 10:19] zacdevon opened #1806 "Comments for extension methods are not showing [haxe]"
I've installed the latest FD 5.3 and am using Haxe. I just created a new project and created some static extension methods.

[code]

But when I try to use it like `myArray.contains()` the intellisense tip comes up without any comments. I think this is a missing feature.

![image](https://user-images.githubusercontent.com/33624470/33239103-492829ce-d2c1-11e7-9981-0e5446167694.png)

When I use it no

[2017-11-26 12:15] SlavaRa commented on #1806
I'll check it tomorrow

[2017-11-26 12:16] SlavaRa commented on #1805
#1795

[2017-11-26 13:46] NicholasHasAwoken opened #1807 "Some .NET problems probably"
Whenever I start FlashDevelop, I get next exception:

[2017-11-26 13:55] zacdevon commented on #1805
I am providing my FD and project for you to reproduce this...

Project:
[Openbook.zip](https://github.com/fdorg/flashdevelop/files/1503941/Openbook.zip)

FD:
https://we.tl/cle2bqJaVb

[2017-11-26 13:56] SlavaRa commented on #1805
Thanks

[2017-11-27 14:43] ncannasse opened #1808 "Crash at startup"
Latest HaxeDevelop often crashes at startup (never had the case with previous version).

Here's what I found in Exceptions.log:

[code]

[2017-11-27 15:52] markknol commented on #1808
I also have it, seems to be related to Haxe 4 projects. it works when you start a non-haxe 4 project file.

Here a dump from my Exceptions.log:
[code]

[2017-11-27 15:54] Neverbirth commented on #1808
@chipshort

[2017-11-27 16:02] ncannasse commented on #1808
This might be related in change in Haxe 4 : unless you compile with `-D old-error-format` all compiler errors and display completion are reported in UTF8 position in file with 1-based column (was Binary position and 0-based column in 3.x)

[2017-11-27 16:03] ncannasse commented on #1808
You can test by downloading Haxe 4 from here : https://haxe.org/download/version/4.0.0-preview.2/

[2017-11-27 16:09] markknol commented on #1744
This might be related to https://github.com/fdorg/flashdevelop/issues/1808, Ill close this one for now since there are no actionable points.

[2017-11-27 16:09] #1744 closed

[2017-11-27 17:22] ncannasse commented on #1793
Let me try to rephrase again :

If I add `libraries.hxml` in "Advanced compiler options", HaxeDevelop will
not list the "-lib" found in this hxml as part of the "References" lists,
while it did work with HD 5.2.x

On Sat, Nov 25, 2017 at 10:48 AM, SlavaRa <notifications@github.com> wrote:

[2017-11-27 19:10] andrew-git opened #1809 "[Haxe] Refactor - Organize Imports incorrect behavior"
In latest FD verison (5.3.1.20), Refactor - Organize Imports action removes all imports (in Haxe, as3 work ok)

[2017-11-27 20:16] Neverbirth commented on #1809
I guess it comes from #1776?

[2017-11-27 20:49] andrew-git commented on #1809
Probably yes, missed that issue

[2017-11-27 22:37] SlavaRa commented on #1793
now I understand the problem, i will fix it today

[2017-11-28 08:56] gene-pavlovsky opened #1810 "Open Resource dialog: focus entry field and "select all" when opened"
1. Open "Open Resource" dialog (Ctrl+R)
2. Type something which would produce some results
3. Double-click one of the results to open the file
4. Open "Open Resource" dialog again

Results: The text input field doesn't have focus, the text is not selected. Pressing the tab key once focuses the text input field, selecting all the text.
Expected results: Text input field should be focused, with all

[2017-11-28 12:44] Neverbirth commented on #1808
@markknol for the second exception you've posted I could get a repro, I will do my best to fix it during this day... my days lately are like a roller-coaster heh.

[2017-11-28 16:27] #1810 closed

[2017-11-28 17:27] gene-pavlovsky opened #1812 "Source control add via dialog then rename leads to old file still in index"
Create a new file via the Project panel, a nice new dialog offers to add it to source control. Answer Yes.
Rename the file in the Project panel.

Expected results: Using git terminology, the file with the original name should be unstaged, and staged with the new name.
Actual results: The file with it's original name is still staged.

[2017-11-28 20:33] gene-pavlovsky commented on #1810
Lovely! Thanks :)

[2017-11-28 20:46] NicholasHasAwoken commented on #1807
I tried deleting both FileExplorer and Data folders separately. It didn't work.

It's happening since fresh install. I hadn't such problems in past while using FlashDevelop.
When I found out that there is no Linux version for FlashDevelop , I switched back.
Then I had to install all those .NET frameworks and Java, could forget something on the way.

[2017-11-28 22:49] Neverbirth commented on #1812
@chipshort

[2017-11-28 22:55] Neverbirth commented on #1808
I pushed a change that should fix your second exception @markknol. With the projects I have here I couldn't repro it, so even if I'm confident I won't say it solves it 100%. I wonder if your first exception is some bug specific to QuickNavigate as I see it in the stacktrace.

I will try to reproduce and fix Nicolas' one tomorrow.

[2017-11-28 23:01] Neverbirth commented on #1806
If I'm not wrong extension methods information comes from the compiler service, maybe it's not providing the description in this case? of course it could be that we miss displaying it too.

[2017-11-29 08:40] Neverbirth commented on #1805
Got a repro of this and I'm looking into it. It's interesting... either this bug has been here forever but before was not possible to trigger, or it's new, I will investigate more and try to fix it today.

[2017-11-29 08:50] Neverbirth commented on #1805
So it's kind of new bug, but by looking at the logic it was going to happen sooner or later I would say... looking at what is the best way to solve.

[2017-11-29 09:13] gene-pavlovsky opened #1814 "Haxe completion breaks after a regex"
Valid Haxe code:

[code]

Place the caret after the end of the function, and type `fu`.
Expected to see `function`, instead the completion list has `Float` etc.
The culprit that confuses the completion is the `}` in the second regexp (`~/\s*}\s*$/`). Looks like it is treated as `}` closing the function block.
Tried Compiler and FlashDevelop completion modes, same result.

[2017-11-29 09:39] gene-pavlovsky commented on #1809
I see that the fix for #1776 has been merged, however I can reproduce the issue with the latest development build.
Sample class:
[code]

Organize imports removes both imports.

[2017-11-29 09:59] gene-pavlovsky opened #1815 "Closing settings dialog leads to show implements arrows disappearing and messes up lines background color"
Pre-requisite: `Show implements` setting enabled (default).
Open any class implementing an interface, or an interface implemented by some class.
Open Tools > Settings, and then just close it without any changes.
The implements icons and their column disappear (from all open tabs), the lines of code which had those icons lose their background color (becomes white, I assume it is only noticeable whe

[2017-11-29 10:16] markknol commented on #1808
Hi, I tested the new build. I still have crashes at start.
I noticed the log, but it doesn't seem to always add a line when it crashes at start. I just got few crashes, but there is no line added today.

[2017-11-29 10:23] Neverbirth commented on #1808
So by your comment I would say the crashes you are getting right now are related to something else. I will keep an eye and run more tests.

I use at work a custom build with other changes and not fully up to date, so I was not aware of these problems.

[2017-11-29 11:43] gene-pavlovsky opened #1816 "Exception when checking out another git branch"
I have the current development branch running from Visual Studio (debug build).
I have a large Haxe project open.
Sometimes, when I switch to a different git branch, VS stops FlashDevelop with the following exception:
[code]

The message that FD is trying to show is "Inheritance loop detected between com.module.languageprovider.LanguageProviderModule and com.module.languageprovider.LanguageProvide

[2017-11-29 11:52] Neverbirth commented on #1805
I will work on a fix later today unless I got other problems.

[2017-11-29 11:53] markknol commented on #1809
I experience this too

[2017-11-29 11:55] Neverbirth commented on #1816
As I told you yesterday, note that this kind of errors only appear during debugging. But yep, I guess this shouldn't trigger a circular reference.

[2017-11-29 11:56] Neverbirth commented on #1809
Gene misunderstood me, I meant that I think that PR broke this (I could be wrong of course). Hopefully @SlavaRa will have time to look into this soon?

[2017-11-29 12:03] Neverbirth commented on #1814
What if you try the previous stable FD build? I have the feeling it may come from the changes that also created issue https://github.com/fdorg/flashdevelop/issues/1664 or other similar changes, but who knows.

[2017-11-29 12:44] gene-pavlovsky commented on #1816
Yes, I got that point.
I might be wrong, but it seems like this results in loss of functionality?
If I understand correctly, ASCompletion is trying to show a warning bar, but it never appears due to this exception.

[2017-11-29 12:44] zacdevon commented on #1805
Thank you. It's a show stopper so waiting for a fix. FD is cool otherwise :)

[2017-11-29 13:24] gene-pavlovsky commented on #1661
So the first result is selected, but "first" according to the list of results, not accounting for the user selected sort order. I think it should respect the current panel's sort order.

[2017-11-29 13:31] gene-pavlovsky opened #1817 "Multiple Find and Replace results panels and the show next/previous result"
Not sure if it's a bug or just a improvement suggestion, but bear with me :)
- Do Find&Replace with some search term, producing multiple result
- Check the "Keep Results" button in the results panel
- Use ShowNextResult shortcut - it works, opens a result from that panel
- Now do Find&Replace with a different search term, another results panel opens
- Use ShowNextResult shortcut - it works, opens

[2017-11-29 17:12] Neverbirth commented on #1817
C'mon! Be glad you now have multiple panels! :P.

I would consider this more as an enhancement that a request.

[2017-11-29 20:31] Neverbirth commented on #1807
I don't think this is some missing component installation, or it would somehow show in another way. I could make a build with extra log if you are ok with that.

[2017-11-29 21:48] gene-pavlovsky commented on #1817
I'm glad and yes I think this is an RFE (request for enhancement).
On further thought, it would be neat to have a "Refresh" button next to "Keep Results" - repeating the same search and updating the results in the same panel.

[2017-11-29 23:06] #1795 closed

[2017-11-29 23:07] Neverbirth commented on #1805
Pushed a fix, although the original problematic logic is still there, hopefully can be removed for FD 6.

[2017-11-29 23:07] #1805 closed

[2017-11-29 23:09] Neverbirth commented on #1817
Adding a "Refresh" button may be problematic, as this is a generic solution and this sounds quite specific to "Find" logic but we can talk more about it tomorrow.

[2017-11-30 03:12] zacdevon commented on #1805
Wow, thanks. What was the original problematic logic?

[2017-11-30 07:59] SlavaRa commented on #1809
I will check during the day

[2017-11-30 08:32] SlavaRa commented on #1809
I was able to reproduce, I will fix it during the day, sorry

[2017-11-30 13:45] NicholasHasAwoken commented on #1807
Sometimes, I get another exception:

[2017-11-30 14:22] Meychi commented on #1807
http://www.flashdevelop.org/community/viewtopic.php?f=6&t=13014&p=55728#p55728

[2017-11-30 15:11] andrew-git commented on #1809
Thanks. Fix works

[2017-11-30 18:52] SlavaRa commented on #1814
Bug, I will fix it tomorrow

[2017-11-30 19:44] #1809 closed

[2017-11-30 19:44] #1806 closed

[2017-11-30 21:10] markknol commented on #1809
Awesome, thanks for fast fix!

[2017-11-30 21:24] SlavaRa commented on #1809
@Mark, thanks for @Neverbith

[2017-11-30 21:39] Meychi commented on #1807
The forum poster said that the crash happened on x64 not on x86, could anything be on that side?

[2017-11-30 21:46] Neverbirth commented on #1807
Back in the day when I fixed that one I tried searching for possible similar problems, but couldn't find anything, of course everything is possible.

Maybe we should provide also the pdbs for the builds as an option so people can use them for reporting errors... with them when getting stack traces we would get more information like the exact line where the error happened.

[2017-12-01 11:28] NicholasHasAwoken commented on #1807
Well. I have Win 7 64 bit.

It was interesting fact, that someone had problem exactly same as mine. So I tried installing FD 5.2.
And it worked! I don't get those exceptions for some time yet!

[2017-12-01 13:50] zacdevon commented on #1806
Excellent. Thank you for this quick fix. Awaiting the next build eagerly.

[2017-12-01 14:25] Neverbirth commented on #1806
You can download development builds here:

http://flashdevelop.org/downloads/builds/

[2017-12-01 14:27] Neverbirth commented on #1808
@markknol today I saw on a colleague's PC another similar exception, I will investigate it later today.

So far I couldn't reproduce Nicola's one, but I had some busy days, also didn't try with Haxe 4 yet, maybe it's related.

[2017-12-01 19:08] SlavaRa commented on #1814
please mark as bug

[2017-12-01 22:30] ncannasse commented on #1808
Please detect Haxe 4+ and change error reporting position accordingly while
you're at it ;)

On Fri, Dec 1, 2017 at 3:27 PM, Neverbirth <notifications@github.com> wrote:

[2017-12-02 08:59] gene-pavlovsky commented on #1814
Seems to be fixed by the PR

[2017-12-02 16:53] #1814 closed

[2017-12-03 15:03] SlavaRa commented on #1342
Not reproducible.
FD 5.3.1.28, AS3, Haxe

[2017-12-03 15:08] SlavaRa commented on #1168
Not reproduced. FD 5.3.1.28

[2017-12-03 16:51] #1624 closed

[2017-12-03 17:16] andrew-git commented on #1780
Works fine!

[2017-12-03 18:42] SlavaRa commented on #429
all ok in FD 5.3.1.28

[2017-12-04 08:52] gene-pavlovsky commented on #1421
@Neverbirth  Update? :)

[2017-12-06 12:22] JoeCreates opened #1826 "Progressively slower typing and text selection"
* Typing and text selection in the main document panel gets progressively slower over time. It starts out perfectly responsive, but gradually develops a noticeable lag.
* Restarting flashdevelop does not help, but restarting my laptop does.
* Size of the open documents makes no difference.
* Only affects the main document editing panels. Text selection in the output panel, for example, is still pe

[2017-12-06 16:07] SlavaRa commented on #1793
Fix: #1827

[2017-12-06 20:12] SlavaRa commented on #1657
After #1659 #1829

[2017-12-07 10:13] SlavaRa commented on #1465
depends on #1772

[2017-12-07 11:29] gene-pavlovsky commented on #1817
What if the panel also accepts an optional "refresh" function together with results. If a sender (F&R dialog in this case) passes that refresh function, then the dialog will display the Refresh button that calls that function.

[2017-12-08 09:57] gene-pavlovsky opened #1833 "Contextual import generation doesn't work in Haxe enums"
Create a new enum file, give one of the constructors an argument of a type which should be imported.
Press `Ctrl+Shift+1` with the cursor on the argument type.
Result: No contextual code generation available.
Expected: Auto-import the type.

[code]

[2017-12-08 10:01] SlavaRa commented on #1833
Bug

[2017-12-08 10:28] SlavaRa commented on #1833
I could fix it today, but at the moment there are too many open PRs from me

[2017-12-08 14:00] gene-pavlovsky commented on #1833
Nice use of blackmail to motivate people to do CR :)

[2017-12-08 14:17] #104 closed

[2017-12-08 14:35] SlavaRa commented on #1833
yes

[2017-12-08 17:20] SlavaRa opened #1836 "[ASGenerator][Generate Function][Bug] Object reference not set to an instance of an object."
[code]
[code]

[2017-12-08 21:12] #1836 closed

[2017-12-09 15:09] SlavaRa commented on #1616
depends on #1839

[2017-12-09 16:56] SlavaRa commented on #1833
@gene-pavlovsky fixed, but I'm sure that the fix will not soon fall into the editor

[2017-12-09 22:12] gene-pavlovsky commented on #1833
We will see :) Hope dies last

[2017-12-10 11:22] SlavaRa opened #1841 "[Haxe][ASFileParser][Bug] Haxe completion breaks after a switch, try"
[code]
Description #1814

[2017-12-10 13:25] SlavaRa commented on #1841
UPD
[code]

[2017-12-10 20:21] #1841 closed

[2017-12-10 21:11] #1659 closed

[2017-12-10 23:09] #1780 closed

[2017-12-11 11:30] sebpatu opened #1843 "Check updates don't work in HaxeDevelop distro"
Hi,
The menu option Help/Check for updates didn't noticed the update to 5.3 from 5.2 version.
Thanks

[2017-12-11 14:40] Meychi commented on #1843
This should be fixed in 5.3 and you can try it out soon with next minor release.

[2017-12-11 15:03] SlavaRa commented on #1269
Now all ok

[2017-12-11 15:30] SlavaRa commented on #874
Now all ok

[2017-12-11 16:55] andrew-git commented on #1680
Looks like fixed, maybe in build or maybe helps adding in config:
[code]

[2017-12-11 16:55] #1680 closed

[2017-12-11 17:16] SlavaRa opened #1845 "[RTE] Path cannot be the empty string or all whitespace."
[code]
C:\projects\opensource\FlashDevelop\Bin\Debug\FlashDevelop.exe CPPTestProject.hxproj

[2017-12-11 18:02] #1845 closed

[2017-12-11 18:03] SlavaRa commented on #1178
Now all ok

[2017-12-11 18:05] #1178 closed

[2017-12-11 18:05] #1269 closed

[2017-12-11 18:05] #874 closed

[2017-12-11 18:06] #1240 closed

[2017-12-11 18:56] SlavaRa commented on #604
Actually?

[2017-12-11 19:09] SlavaRa commented on #264
[code]

[2017-12-11 19:19] SlavaRa commented on #396
@Meychi @elsassph @Neverbirth  Guys what do you think about this issue?

[2017-12-11 20:05] #796 closed

[2017-12-11 20:06] #297 closed

[2017-12-11 20:14] Meychi commented on #396
@SlavaRa This would be good addition imho.

[2017-12-11 20:16] SlavaRa commented on #396
@Meychi ok

[2017-12-11 20:41] #1469 closed

[2017-12-13 13:32] SlavaRa opened #1849 "[Haxe][RTE] System.NullReferenceException: 'Object reference not set to an instance of an object.'"
HaXeContext.dll!HaXeContext.Context.ResolveImport(ASCompletion.Model.MemberModel item, ASCompletion.Model.MemberList imports) Line 837	C#	Symbols loaded.
[code]
Locals:
[code]

[2017-12-13 19:34] #1849 closed

[2017-12-14 11:03] SlavaRa opened #1852 "[CodeRefactor][Rename][Bug] Wrong result after rename"
[code]
result after rename `val_b` to `b`:
[code]

[2017-12-14 11:30] Celsyum opened #1853 "[feature] mouse wheel scrollable file tabs"
Before i used FlashDevelop (its been 6 or more years) - older editors (like phpEd) had one simple feature - tab scroll with mouseWheel (Firefox uses same technique when there are too many tabs). It was essential and most useful feature ever for me while working with many multiple files. Can we implement this on FlashDevelop ? Or at least implement buttons next to tab line to scroll them.

mouseWhe

[2017-12-14 14:45] DarthVan commented on #1852
Checkd, now its working correctly.
thanks.

[2017-12-14 23:28] #1617 closed

[2017-12-15 07:20] #1743 closed

[2017-12-15 08:06] #1852 closed

[2017-12-15 09:11] DarthVan commented on #1808
Hi! Got this bug too. biuld 5.3.1.50

[2017-12-15 09:13] SlavaRa commented on #1808
I can check it out tonight after the main job.

[2017-12-15 09:28] romamik opened #1855 "as3 debugger not starting in 5.3.0.3"
I've just installed new flashdevelop version and get this error, when trying to start as3 debugger:

Required file is present at path `C:\Program Files (x86)\FlashDevelop\Plugins\jni4net.j-0.8.8.0.jar`.
Looks like search path is url encoded while it should not.

As a temporary solution I've reinstalled FlashDevelop to `C:\FlashDevelop` and that solved the issue for me.

[2017-12-15 09:37] SlavaRa commented on #1855
Please check development build from http://flashdevelop.org/downloads/builds/

[2017-12-15 10:00] romamik commented on #1855
It works as intended in development build...

[2017-12-15 10:37] YellowAfterlife commented on #1808
A sample:

1. Do `haxelib install nodejs` (only happens with haxe >=4.0.0?)
2. Open [this project](https://github.com/fdorg/flashdevelop/files/1562387/abug.zip) and wait until it starts to parse lib nodejs.

Resulting exception:
[code]

[2017-12-15 14:15] Neverbirth commented on #1808
Well, that's not exactly startup heh, but I know why and where it happens, I already did some work for this, hopefully I can push my local changes tomorrow.

[2017-12-16 21:35] #1738 closed

[2017-12-17 13:54] gene-pavlovsky commented on #1269
Just tried latest development build.
With a clean build (.local) it works correctly (New interface is displayed)
But with my user profile (in AppSettings) the problem still exists.
Any pointers as to which setting I should clear to fix this?

[2017-12-18 09:06] Neverbirth commented on #1808
I pushed a change solving some crashes. I don't know if this will solve the cases you run into, I know of some other problems and have other local changes queued, but I don't have them at hand right now, they are on another PC, and have to review them. I hope I will have time during the night.

[2017-12-18 18:19] pzahra commented on #1855
Development version 5.3.1.52

[2017-12-20 08:41] SlavaRa commented on #1855
FlashDevelop x86 or x64? java x86 or x64?

[2017-12-21 03:38] pzahra commented on #1855
Definitely java x86, and it would be the x86 FD, too. I'm pretty sure I didn't try the x64 FD, I've had issues with that in the past.

[2017-12-21 09:21] ncannasse commented on #1808
@Neverbirth I think I found one of the main crash reasons : when you close a file tab after having switched projects, it might crash (no exception stack shown)

[2017-12-21 09:24] ncannasse opened #1861 "Haxe 4.0 support"
In Haxe 4.0+ , columns are 1 based instead of 0 based (before the first char of a line was 0, now it's 1), and positions in the file are utf8-based instead of binary-based (before "é" was counting as 2 chars, it's one now).

This lead to problems with error reporting not being correctly done in HaxeDevelop, including completion if there are utf8 chars in the file. Could you detect if Haxe is 4.0+

[2017-12-21 23:22] #637 closed

[2017-12-23 00:47] Neverbirth commented on #1815
Issue reopened as the proposed solution was having other side effects.

[2017-12-29 10:23] SlavaRa opened #1864 "[ASGenerator] Improving the generation of the getter | setter"
[code]
actual result after renerate `set`:
[code]
expected result:
[code]

[2017-12-30 11:40] SlavaRa opened #1867 "[Bug][Haxe][ASComplete][EvalExpression] Wrong type of expr"
[code]
`ASResult` under cursor:
[code]
`Type	{public typedef haxe.macro.Expr.Function}	ASCompletion.Model.ClassModel` Should be `{class haxe.Constraints.Function}`

[2017-12-30 18:01] SlavaRa opened #1869 "[Bug][ASGenerator][GetStartOfStatement] Wrong result for expression with comment"

[2017-12-30 18:11] SlavaRa opened #1871 "[Bug][ASGenerator][GetEndOfStatement] Wrong result for expression with comment"
[code]
expected result: `"foo(/*:)*/)\n".Length`
actual result: `"foo(/*:)*/)\nbar()\n".Length`

[2017-12-31 05:30] SlavaRa opened #1874 "[Bug][ASGenerator][GetEndOfStatement] Wrong result for expression with string"

[2017-12-31 15:15] Gamezpedia opened #1877 "System.Exception: System.NullReferenceException: Object reference not set to an instance of an object."
How did it happened .

1 - I opened a new project and leave old haxe project.xml file in the session.
2 - opened the new project.xml file and close the Flashdevelop
3 - restarted Windows, open the Flash develop and got this error And then it closes.

How did i solve it.

1 - Copy the` \AppData\Local\FlashDevelop\`  folder.
2 - Uninstall the Flashdevelop with Full options.
3 - After installing it r

[2018-01-01 10:01] SlavaRa commented on #1877
What version of FD are you using?

[2018-01-01 14:46] Gamezpedia commented on #1877
it's the latest one , 5.3.0.3

[2018-01-01 14:53] #1869 closed

[2018-01-01 15:11] SlavaRa commented on #1877
Could you test the development build?

[2018-01-01 15:12] #1874 closed

[2018-01-01 15:12] #1871 closed

[2018-01-01 15:56] Gamezpedia commented on #1877
sure i will try it and update here .

[2018-01-01 16:07] SlavaRa commented on #1877
Thanks :)

[2018-01-02 09:02] SlavaRa opened #1880 "[Bug][ASComplete][GetExpression] Wrong result for regex"

[2018-01-02 10:14] #1867 closed

[2018-01-02 10:35] #1749 closed

[2018-01-02 13:08] SlavaRa opened #1883 "[Bug][ASgenerator][GetStartOfStatement] Wrong result for array comprehension"
[code]
`|` - cursor
expected result: 1
actual result: 0

[2018-01-02 13:31] SlavaRa commented on #1766
Depends on #1884

[2018-01-03 08:59] Yanrishatum opened #1887 "[Haxe] Autocomplete: Class-level autocomplete when writing default values in `new`"
Issue: When writing default values in constructor autocomplete provides completion for class-level instead of function-level.
For clarity:
![what I'm talking about](https://i.imgur.com/c68mcPR.gif)
Reproduction: Add a value to constructor and start writing default value for it.
Version: FD#825cdded68
Present since: So long, I can't remember already.

Reproduction project: https://drive.google.com/

[2018-01-03 09:11] Yanrishatum opened #1888 "[Haxe] `macro` keyword indents back on non-egyptian bracket style."
Issue: When writing macros function and using reification, FD indents one tab back when it encounts `macro` keyword.
Demo:
![Yep.](https://i.imgur.com/m3lWLEW.gif)
Reproduction:
1. Use non-egyptian bracket style, e.t. on new lines.
2. Start writing macro function and try to use macro reification.

Version: Latest dev build (22 hours old)

[2018-01-03 09:17] SlavaRa commented on #1887
@Yanrishatum Thanks

[2018-01-03 09:17] SlavaRa commented on #1888
@Yanrishatum Thanks

[2018-01-03 09:26] Yanrishatum opened #1889 "Haxe, macro reification ${...} formatting issue"
Issue: FD automatically insert spaces for macro reification that uses brackets resulting in `$e{value}` formatted to `$e { value }`. While this code still valid, it looks rather clunky and I always have to do Ctrl + Z in order to cancel autoformatting.
![demo](https://i.imgur.com/DMZzqgi.gif)
Reproduction:
1. Use macro reification with brackets.
2. Place `;` at the end of the line.
3. Bonus: Cance

[2018-01-03 09:40] Yanrishatum opened #1890 "Haxe, no variable capture for parametrized enums."
Issue: Enum variable are not captured by autocomplete during `switch/case` statements. Very fun when you have variable name resembling class name and FD "fixes" it for you for class name.
![Demo](https://i.imgur.com/kCdpRmR.gif)
Reproduction:
1. Have an enum with parameters.
2. switch/case it.
3. Try to get autocomplete for those enum variables.

[2018-01-03 09:49] Yanrishatum opened #1891 "Haxe, no case back indentation with anything past `:` in `case` statements."
Issue: When casing value and adding **anything** after `:` in case - next case statement is not automatically indented back.
![Demo](https://i.imgur.com/9Mv61pw.gif)

Reproduction:
1. Have a switch/case statement (not necessary enum value)
2. Do a case like `case <...>: <anything. From code to comment>`
3. Write new `case` statement and receive no indentation formatting after wiring `:`.

[2018-01-03 10:10] #1883 closed

[2018-01-03 11:12] SlavaRa opened #1893 "[Bug][SourceControl] fatal: pathspec `ApplyForceTest.hx` did not match any files"
It is necessary to select several files and try to delete them
FD 5.3.1.53

[2018-01-03 14:23] SlavaRa commented on #1861
WIP

[2018-01-04 05:34] SlavaRa commented on #1861
I was faced with the fact that the antivirus does not allow me to install haxe-4.0.0preview2, but with 3.4.4 no problem.
As soon as I can install haxe4 and check the functionality, I will make a pull request.

[2018-01-04 05:34] SlavaRa commented on #1853
@Meychi what do you think about this?

[2018-01-04 05:46] SlavaRa opened #1897 "[Haxe][CodeRefactor] Inline private typedef from type"
[code]
expected result:
[code]

[2018-01-04 08:03] SlavaRa commented on #511
+ Bug

[2018-01-04 08:14] #1887 closed

[2018-01-04 08:14] benjstern opened #1898 "[Bug][Debug] Internal Debugger Exception"
![image](https://user-images.githubusercontent.com/1266727/34554832-8c7ee2c8-f137-11e7-995d-a1a812d40a4b.png)

Nothing is sent to the output when I check the exeptions.log I get:

2018-01-04 10:03:01 AM

Internal Debugger Exception

System.NullReferenceException: Object reference not set to an instance of an object.
   at net.sf.jni4net.jni.JNIEnv.CallStaticObjectMethodPtr(Class clazz, MethodId me

[2018-01-04 10:08] Yanrishatum opened #1899 "[Haxe] Prioritize local sources before libraries for same-name classes."
Automatic import currently does not prioritize classes with same name that are present both in local sources and libraries and often chooses library ones. It is expected for it to prioritize local classes before libraries.

Example:
![Example](https://i.imgur.com/IMMHFyN.gif)
As shown above, instead of prioritizing local sources first, FD prioritizes external libraries if their path gets higher af

[2018-01-04 10:26] Yanrishatum opened #1900 "[Haxe] Support `using` keyword for autocomplete"
Currently `using` supported only via Haxe completion server. While it does provide completion from the server, its response is delayed and not as fast as native FD completion.
Proposal: Natively support `using` keyword and provide completion from it to affected classes.
Good example:
With `using StringTools;` and using `replace` on strings, I often type almost entire "replace" word before Haxe ser

[2018-01-05 03:56] SlavaRa opened #1904 "[Bug][Haxe][FileParser] Wrong parsing of constructor of `abstract`"
AbstractTest.hx
[code]
ASFileParserTests.cs
[code]
`Assert.AreEqual(FlagType.Function, member.Flags & FlagType.Function);` should be `Assert.AreEqual(FlagType.Constructor, member.Flags & FlagType.Constructor);`

[2018-01-05 04:53] SlavaRa opened #1907 "[Bug][Haxe][ASFileParser] Wrong parse of class with single-line functions"
[code]
Members - 2
- extractLocalVariable : Function
- a : Variable

![2018-01-05_7-53-55](https://user-images.githubusercontent.com/1700940/34596034-9b8b41ba-f1ed-11e7-9d9c-8fadc7dbec31.png)

[2018-01-05 05:17] SlavaRa opened #1908 "[Bug][AS3][ASGenerator] Wrong result after `Assign statement to var` for `typeof 1`"
[code]
`|` - curstor
expected result: `var string:String = typeof 1`
actual result: `typeof var number:Number = 1;`

Depends on #1906 #1766

Note:
AS3 string operators:
+ lvalue as rvalue -> T
+ delete rvalue -> Boolean
+ lvalue in rvalue -> Boolean
+ lvalue is rvalue -> Boolean
+ lvalue instanceof rvalue -> Boolean
+ new rvalue -> T
+ typeof rvalue -> String

Haxe string operators:
+ new rvalue->

[2018-01-05 06:39] SlavaRa opened #1909 "[Bug][Haxe] Wrong parsing of 'abstract' with/without '@:forward'. Completion mode: FlashDevelop."
![2018-01-05_9-36-53](https://user-images.githubusercontent.com/1700940/34598221-6f3f81ac-f1fc-11e7-88f3-602a9cb16e88.png)

expected behavior: variable `a` don't have methods and fields

[2018-01-05 06:53] SlavaRa opened #1910 "[Bug][Haxe] Incorrect definition of the owner of the methods and properties within `abstract`."
![2018-01-05_9-52-40](https://user-images.githubusercontent.com/1700940/34598512-338e4c36-f1fe-11e7-9b19-6c1b1abfdfbe.png)
should be:
[code]

[2018-01-05 07:30] SlavaRa opened #1911 "[Bug][Haxe] Incorrect parsing of members with matching names."
![2018-01-05_10-29-44](https://user-images.githubusercontent.com/1700940/34599445-604ff99a-f203-11e7-9c40-fe7fa457bf9b.png)
expected result: `static private offset() : Int in Main`

[2018-01-05 07:44] #1904 closed

[2018-01-05 08:01] #1864 closed

[2018-01-05 12:23] Yanrishatum opened #1914 "`//}` breaks code folding and matches with non-comment `{`"
Issue: FD enables code folding with `//{` and `//}` comments, but same `//}` also sometimes breaks code folding completely by folding with non-comment opening bracket.
Creates big problems with egyptian-style brackets, as <kbd>Ctrl + Q</kbd> comments code without spaces between `//` and remainder of the line.
Example:
[code]
Expected folding:
[code]
Actual folding:
[code]

[2018-01-06 13:22] SlavaRa opened #1916 "[Bug][Haxe] Wrong autocompletion list for `(v:String)`. Completion mode: FlashDevelop"
<img width="246" alt="2018-01-06_16-20-11" src="https://user-images.githubusercontent.com/1700940/34640100-895a270c-f2fd-11e7-886e-8e52a9af4a68.png">
Expected result:
<img width="91" alt="2018-01-06_16-21-36" src="https://user-images.githubusercontent.com/1700940/34640113-babd132c-f2fd-11e7-881b-042524839bd4.png">

[2018-01-06 16:01] SlavaRa opened #1918 "[Bug][Haxe][ASGenerator] Wrong result after `Assign statement to var` for `(s is String)`"
[code]
`|` - cursor
expected result: `var bool:Bool = (s is String)`
actual result: `var string:String = (s is String)`

[2018-01-06 17:03] SlavaRa opened #1920 "[Bug][Haxe][ASGenerator] Wrong result after `Assign statement to var` for `cast v`"
[code]
`|` - cursor
expected result: `var dynamicValue:Dynamic = cast s;`
actual result: `cast var s1:Dynamic = s;`

[2018-01-06 17:20] Yanrishatum opened #1921 "[Bug] override completion not shown in some cases"
Issue: After writing `override `, in some cases there is no completion provided (even when manually pressed <kbd>Ctrl + Space</kbd>. It will show completion, but not override completion). Bug is kinda unstable and I was unable to reproduce it in isolated environment.
Here's the source file where I can reproduce it reliably: https://gist.github.com/Yanrishatum/c4c2cac65bd03b755099c1fffb17db8f
Proje

[2018-01-06 22:22] #1921 closed

[2018-01-06 22:53] elsassph commented on #1150
Hey I thing this is a feature! it highlights the import.

[2018-01-06 22:59] SlavaRa commented on #1150
I did not understand:( What I did good or bad?

[2018-01-06 23:23] Gama11 commented on #1150
@elsassph How is this a feature? In the screenshot, it claims `test` is a _class_, which doesn't make sense.

[2018-01-07 00:50] #1833 closed

[2018-01-07 12:47] Yanrishatum commented on #1888
Was fixed in https://github.com/fdorg/flashdevelop/pull/1896, seems to be bugged out and not automatically closed. Closing.

[2018-01-07 12:47] #1888 closed

[2018-01-07 13:55] Yanrishatum opened #1925 "[Haxe4] Support for `final` keyword"
Haxe4 introduced a `final` keyword used in 2 places:
* Java-like, modifier to the methods. (Effect on autocomplete: Should not be shown in `override` completion.)
* Alternative for `var` keyword.

In-detail described here https://github.com/HaxeFoundation/haxe/pull/6596
Feature already available in Haxe 4.0.0-preview.2 build.

[2018-01-08 10:26] gene-pavlovsky opened #1927 "Contextual import generation doesn't work in interfaces"
Possibly related to recently closed #1833

Create a new interface

[code]

Position the caret on `Timer` and press Ctrl+Shift+1.
Expected result: auto-import of `haxe.Timer`.
Actual result: "No contextual code generation available" message appears in the status bar

[2018-01-08 11:55] #1927 closed

[2018-01-08 14:10] #1426 closed

[2018-01-08 14:43] #750 closed

[2018-01-08 15:23] gene-pavlovsky opened #1929 "Line reformatter inserts unwanted space after `...e->`"
In Haxe code, typing
`var showItem:ItemType->Void;`
is automatically reformatted to
`var showItem:ItemType-> Void;`

The reason is that `ItemType` ends with letter `e`, code in `Reformater.cs` treats `e-` is a number's exponent, and then handles `>` as a greater-than operator.

@Neverbirth
I think best fix might be to add an `inNumber` flag and only check for [eE][-+] if the flag is true, although

[2018-01-08 16:23] SlavaRa opened #1930 "System.NullReferenceException : Object reference not set to an instance of an object."
[code]

[2018-01-09 08:38] Gamezpedia commented on #1877
hi , i tried the development build and i can't reproduce that again , also after reinstalling the release build it  didn't happen again but i will update if i found anything.

[2018-01-09 08:38] #1877 closed

[2018-01-09 09:28] #1930 closed

[2018-01-09 09:55] gene-pavlovsky opened #1932 "Impossible to disable the new source control action bar"
I found myself never saying "yes" to the new "Would you like to add this file to version control?" action bar.
It's actually starting to bother me, and I'd like to disable it.
SourceControl has one setting "Never create a commit when moving, deleting, etc.", I have it checked.
However, when I try to delete something, for example, I get a confirm dialog "would you like to remove the file(s) from ve

[2018-01-09 10:08] Neverbirth commented on #1932
@chipshort ??? Although I guess this would be an easy fix.

[2018-01-09 10:24] elsassph commented on #1932
Does these "add/remove to CSV" do irreversible operations? That would be harmful.
`git add thefile` or `git rm thefile` are normally fairly painless because they only stage the changes.

[2018-01-09 10:33] gene-pavlovsky commented on #1932
Perhaps that's what the "never create a commit" setting does - prevents from creating commits, but doesn't turn off staging/unstaging. I agree that it's not harmful, but personally I prefer to review all my changes when I'm ready to commit, then stage what I want myself. So I think a setting to disable these new and nice (surely wonderful for many people) features is still needed for others who do

[2018-01-09 10:48] elsassph commented on #1932
Commiting should never be done, imho. It shouldn't even be an option.

[2018-01-09 11:51] benjstern commented on #1898
Same with Development version 5.3.1.67

Debugger startup error. For troubleshooting see: http://www.flashdevelop.org/wikidocs/index.php?title=F.A.Q
Error details: net.sf.jni4net.jni.JNIException: Can't load java class for flash.tools.debugger.concrete.DValue_ from classLoader sun.misc.Launcher$AppClassLoader@757aef ---> java.lang.LinkageError: flash/tools/debugger/concrete/DValue_ : Unsupported ma

[2018-01-09 14:04] gene-pavlovsky opened #1933 "Huge slowdowns when saving any changed file"
For quite a while already, when I'm saving any file, I'm experiencing a noticeable slowdown. It seems that the longer FD is open, the bigger the slowdown is.
Basically, I save the file and FD freezes for several seconds.
Running in debug mode under VS, I pause execution and notice that execution is in `OverlayManager.cs`, `SetOverlay` function. So it appears there is some huge update of the projec

[2018-01-09 14:25] gene-pavlovsky commented on #1932
I think you have a point. It's not very common use case to create single commit for every moved/deleted file (and completely pointless for a newly added file which doesn't contain anything useful yet).

[2018-01-09 14:50] gene-pavlovsky opened #1935 "Exception when switching projects"
Running FD under VS in debug mode, I'm often (not always) getting exceptions when switching projects (dev project and tests project for it), or checking out another git branch.

Exception: System.InvalidOperationException: 'Collection was modified; enumeration operation may not execute.'
Stack trace:
[code]

[2018-01-09 14:52] SlavaRa commented on #1935
I think I know the problem.

[2018-01-09 14:57] gene-pavlovsky commented on #1935
Might be a separate issue, but sometimes (when checking out other branches) another exception occurs.
Exception:
Stack trace: System.InvalidOperationException: 'Collection was modified; enumeration operation may not execute.'
[code]

[2018-01-09 14:58] Neverbirth commented on #1935
I definitely know the problem, but it's not a simple change if wanted to keep performance. There are many cases involved here. Everything could be locked everywhere, but I think that's an unacceptable solution.

[2018-01-09 15:16] gene-pavlovsky commented on #1935
Well you guys are very clever, you will figure out a solution :)

[2018-01-09 15:18] Neverbirth commented on #1935
I created some PR regarding this issue, but it's just a WIP I did before Christmas and couldn't continue yet.

https://github.com/fdorg/flashdevelop/pull/1936

I will try to add more information later from home regarding all the issues I found, special cases, etc.

[2018-01-09 16:28] chipshort commented on #1932
So to clarify a bit:
The add bar does not do anything irreversible. It just stages the file.
Since it does not create a commit, it is not affected by the "Never create a commit when moving, deleting, etc." flag. That setting is basically, so you do not constantly get asked if you want to commit, if you do not want to use the feature. Adding a setting for the add bar should be easy.
As for the usef

[2018-01-09 16:40] gene-pavlovsky commented on #1932
I'm sure the blue bar is useful to many people. But it would be good if it can be enable/disabled. I'm getting more and more frustrated by various apps (browsers do it a lot with "allow location/notifications/etc ?", and these days websites with their "accept cookies") bothering you with some questions sliding from the top, bottom or wherever.

I didn't check how VS code does source control, but w

[2018-01-09 17:02] gene-pavlovsky opened #1937 "Find&Replace in Files throws an exception if Top folder path is invalid"
Open Find&Replace in Files dialog, then do either of those:
- Enter an invalid Top folder (e.g. empty, or not existing)
- Enter an invalid extension filter, e.g. use `:` instead of `;`
Try to `Find...` or `Replace`
An exception is thrown:

1st case
![2018-01-09 17_58_40-](https://user-images.githubusercontent.com/2841193/34733017-42ab25b0-f567-11e7-9d06-3f20749b40da.png)

2nd case
![2018-01-09 18_

[2018-01-09 23:53] #1657 closed

[2018-01-10 07:58] Neverbirth commented on #1932
The motivation for the work is quite obvious: have more integrated source control inside the IDE so the chances for making wrong commits are mitigated. It's not uncommon (I would say quite common) to find commits missing files, or renaming of files that are a Delete and Add operation instead of a proper Rename/Move one.

Implementation details like the ones commented here were never discussed. I a

[2018-01-10 08:00] Neverbirth opened #1938 "Renaming of files not creating the proper operation"
When renaming a file under source control and Add action is created for the file with the new name, this is wrong and a Rename/Move should instead be created.

@chipshort

[2018-01-10 08:29] gene-pavlovsky commented on #1932
I'd like to be able to use only renaming/moving - most useful feature, in my opinion.
So would be nice if there would be a few options in the plugin settings to select the desired features subset.

[2018-01-10 09:14] gene-pavlovsky opened #1939 "Removing file from project panel sometimes produces more than one confirmation dialog"
Sometimes when I remove a file from the project panel, there is only "would you like to remove the file from version control?" dialog (the one that I would like to have as optional).
But sometimes, after I say yes to this, there's another dialog asking to confirm moving the file to the recycle bin. I'm not sure in which cases it pops up, because it happens only to some files, but not the others.
D

[2018-01-10 10:23] gene-pavlovsky opened #1940 "[SourceControl] Failed to delete multiple files"
I have 4 files, all under version control.
I selected them in the Project panel, and tried to delete them.

"Unsafe delete operation" dialog popped up, telling me I have a mix of versioned and non-versioned files
![2018-01-10 11_14_44-unsafe delete operation](https://user-images.githubusercontent.com/2841193/34767294-024f8290-f5f8-11e7-91dc-a4c76f5d2425.png)

Note: If I remember correctly, in the

[2018-01-10 13:16] #1766 closed

[2018-01-10 14:05] #1759 closed

[2018-01-10 14:42] #1220 closed

[2018-01-10 14:52] #1754 closed

[2018-01-10 14:53] #1230 closed

[2018-01-10 23:03] #1916 closed

[2018-01-10 23:04] #1897 closed

[2018-01-10 23:04] #1753 closed

[2018-01-11 08:07] #1911 closed

[2018-01-11 08:07] #1918 closed

[2018-01-11 15:51] #1908 closed

[2018-01-11 15:51] #1920 closed

[2018-01-14 15:53] #764 closed

[2018-01-15 16:35] neuronix opened #1947 "[AS3] Code completion broken for Vectors on 5.3.1"
Code completion detects type correctly but fails to properly create the import of the sub class and complete the line of code with `Vector.<T>`.

1. `var myvector:Vector.< MyType > = new Vec`...
2. drop down shows `new Vector.<my.package.MyType>`
3. Press ENTER or Click on drop down suggestion
4. Code completion imports: `import Vector;`
5. Code completion stays on:  `var myvector:Vector.<MyType>

[2018-01-15 16:47] SlavaRa commented on #1947
I will check it today

[2018-01-16 07:03] SlavaRa commented on #1947
`var myvector:Vector.` - really?

[2018-01-16 07:17] neuronix commented on #1947
Sorry Github markdown was hiding the type for some reason. I added spaces around the type : Vector.< T > for it to show up.

[2018-01-16 07:20] SlavaRa commented on #1947
You can use ` for escaping your code

[2018-01-16 09:08] SandersAlex opened #1948 "MXML creation"
When creating "mxml", you can not specify a parent class, the "Application" type is immediately suggested. If I create a "Skin", then I need "HostComponent", this functionality is in the FB.

При создании "mxml" нельзя указать родительский класс, сразу предлагается тип "Application". Если я создаю "Шкурку", то мне нужен "HostComponent", данный функционал есть в ФБ (Rus)

[2018-01-16 09:15] SandersAlex opened #1949 "MXML import outside <fx:Script><![CDATA[ ... ]]></fx:Script>"
When importing a class for a variable, "import" throws to the xml zone, sample:

[code]

[2018-01-16 09:41] Neverbirth commented on #1948
I'm surprised people are still using MXML heh. I did back in the day a lot of MXML improvements for my current company but most of these changes were never merged back into the official branch... maybe I could look into this, but I don't know if it's worth it actually :S.

Both this and #1949 were done.

[2018-01-16 09:42] Neverbirth commented on #1949
I'm surprised people are still using MXML heh. I did back in the day a lot of MXML improvements for my current company but most of these changes were never merged back into the official branch... maybe I could look into this, but I don't know if it's worth it actually :S.

Both this and #1948 were done.

[2018-01-16 09:51] SandersAlex commented on #1949
I need this decision

[2018-01-16 09:59] Neverbirth commented on #1949
The fix for this I think is easy to port back, I will look into it.

[2018-01-16 10:19] SandersAlex opened #1950 "MXML namespace"
I have the "IconsButton.as" class, but the namespace is not automatically formed with the namespace of this class.

IconButton.as
[code]
[code]

[2018-01-16 10:28] SandersAlex opened #1951 "MXML Automatic completion & substitution of properties"
1. When creating an "mxml" element and populating its properties, you must additionally click on "=" to display the property and fill it, if necessary.

As would be desirable: if the property is present in the element, then:
1.1. You start typing - "vi", the tooltip "visible" is displayed;
1.2. Press "enter" and immediately fill this property with its possible values, if necessary and do not press

[2018-01-16 11:12] SandersAlex opened #1952 "AS3 Meta"
When you click on the opening square bracket, you do not see any options for creating a "meta" for the class.

[code]

[2018-01-16 11:34] Neverbirth commented on #1951
I also did this back in the day. Second case is completely unrelated, and I think there is already a setting for this? Wrap completion list or something like that maybe?

[2018-01-16 11:38] Neverbirth commented on #1952
I started working on this time ago, and added most of the support, but then stopped it because there were some UX concerns, as metadata support should be flexible (what I did is flexible, but I was blocked on a proper UI, because mine was not the most ideal for some cases). If anyone is willing to work on this I can be contacted to show what I did, all the code, etc.

[2018-01-16 11:48] SandersAlex commented on #1952
It could be put as an option. I would gladly have it, it greatly simplifies the complex development without remembering which meta and by what rules to write. You can easily put, offer the most maximum option for each meta, and let the man himself think how to correct it.

[2018-01-16 11:56] SlavaRa commented on #1951
Tools -> Program Settings -> FlashDevelop -> Controls -> Wrap List

[2018-01-16 12:18] SandersAlex opened #1953 "MXML Embedded AS"
How to access your "progress" through the embedded code?! After clicking on the point (".") there is no list of properties and generally does not give anything for this class and examples you can still write a bunch.

[code]

[code]

[2018-01-16 18:32] Yanrishatum opened #1954 "[Bug] No completion if function returns <T> value."
If function return any class with type parameters, completion breaks and does not provides any completion.
Example:
[code]

[2018-01-16 18:34] SlavaRa commented on #1954
Thanks. I will fix it tonight.

[2018-01-16 20:48] SandersAlex opened #1955 "MXML currentState"
The "currentState" property does not offer a drop-down list of values and contains a void when the "states" block is filled.

[code]

[2018-01-16 23:21] Neverbirth commented on #1787
Fixed in https://ci.appveyor.com/api/buildjobs/pb46pxtxd6362jce/artifacts/FlashDevelop%2FInstaller%2FBinary%2FFlashDevelopPR_1956.zip

Should be merged soon.

[2018-01-16 23:21] Neverbirth commented on #1898
Maybe this is fixed or improved in https://ci.appveyor.com/api/buildjobs/pb46pxtxd6362jce/artifacts/FlashDevelop%2FInstaller%2FBinary%2FFlashDevelopPR_1956.zip

[2018-01-16 23:21] Neverbirth commented on #1855
Maybe this is fixed or improved in https://ci.appveyor.com/api/buildjobs/pb46pxtxd6362jce/artifacts/FlashDevelop%2FInstaller%2FBinary%2FFlashDevelopPR_1956.zip

[2018-01-17 02:05] #393 closed

[2018-01-17 02:05] #511 closed

[2018-01-17 18:06] SandersAlex commented on #1953
Another problem with this embedded code. All that is between the braces "{" "}" must obey all the rules of working with the code:

- backlight;
- transition to "F4";
- etc...

[2018-01-17 18:17] SandersAlex commented on #1953
[code]
[code]

[2018-01-17 21:45] #1954 closed

[2018-01-18 14:28] #1787 closed

[2018-01-18 15:08] SlavaRa opened #1960 "Update SciLexer"

[2018-01-19 04:54] feipinxiang opened #1962 "[help wanted] highlight line or position support？"
highlight words work well. Is it possible to add highlight words lines and highlight positions?

![2018-01-19_123949](https://user-images.githubusercontent.com/2398548/35135375-d15c92e6-fd17-11e7-8678-1504fcab2f44.jpg)

[2018-01-19 10:37] SlavaRa opened #1964 "[ASFileParser] Wrong parse of `haxe.extern.EitherType`"
actual package: ""

[2018-01-19 16:11] SlavaRa opened #1966 "Autocomplete don't works for `try cast(v, Type).|`, `return cast(v, Type).|'"

[2018-01-20 15:53] abhishekkarigar commented on #866
Guys install proper versions like either 32 bit or 64 bit and set the proper PATH and JAVA_PATH as well as debug in their respective modes(32 or 64 bit)

[2018-01-22 07:50] Meychi commented on #1826
Your computer should not have any issues running FD. I think there is some bug with Scintilla editor control on your computer. Can you reproduce this issue on same FD setup on another computer?

[2018-01-22 07:54] #1964 closed, assigned to nobody

[2018-01-22 09:41] Yanrishatum opened #1969 "Autoimport importing private type on completion in it's body"
Autoimport currently automatically imports private type if it's name was autocompleted inside private said private type.

<details><summary>Example code</summary><p>

[code]

</p></details>

Showcasing issue:
![img](https://i.imgur.com/V5NC6NM.gif)

[2018-01-22 09:43] SlavaRa commented on #1969
I will check this today

[2018-01-22 11:52] SandersAlex opened #1970 "MXML Incrorrect header"
[code]
Halo - is graphic theme mx. spark & mx - is core. You can not inherit from the core of the spark and the graphic theme "mx". It is more appropriate to inherit from the core.
[code]
If you still want to leave inheritance from the "halo," then add:
[code]

[2018-01-22 12:15] SlavaRa commented on #1969
I will fix it tonight

[2018-01-22 13:33] SandersAlex opened #1971 "MXML do not work "state""
After creating the list of "states", you can not assign a property to this state after ".". Also, the drop-down list of states for "includeIn" does not appear, where you can add "states".
[code]

Official link (examples):
https://help.adobe.com/en_US/flex/using/WS2db454920e96a9e51e63e3d11c0bf63611-7ffa.html
https://help.adobe.com/en_US/flex/using/WS77c1dbb1bd80d38313b7ce1c129eb7d5e04-8000.html

[2018-01-22 14:25] SandersAlex opened #1972 "MXML GradientEntry"
There is no "GradientEntry" inside the "LinearGradient". It is necessary to add "<mx: GradientEntry />" to access its properties.

Not found:
[code]
Worked:
[code]

[2018-01-23 11:22] #1969 closed

[2018-01-24 09:52] gene-pavlovsky opened #1975 "Line reformatting triggers when typing `"}`"
Haxe context.
[code]
- Put the caret after `c == `
- Type `"}`

Actual result: The `if (c == "}` line is unindented one level.
Expected result: No reformatting, since the closing brace is quoted.

[2018-01-24 14:14] neuronix opened #1976 "[AS3] F4 does not always show definition of functions"
Observed behavior
1. Place cursor on function
2. Press F4
3. Not redirected to function definition

This seems to be related to all methods of certain classes even if F4 works on class definition, does not work on class methods.

[2018-01-24 14:18] SlavaRa commented on #1976
Maybe you will give some minimum code?
what version of the editor do you use?

[2018-01-24 14:20] neuronix commented on #1976
Hi Slava, sorry for the lacking version, using 5.3.1. Will try and come up with a minimum test case & send gist.

[2018-01-24 14:20] SlavaRa commented on #1976
Thanks @neuronix :)

[2018-01-25 16:14] SlavaRa commented on #1976
@neuronix Any news?

[2018-01-25 16:16] neuronix commented on #1976
@SlavaRa sorry, not yet, i'm a too busy just now. I have been looking for similarities but some classes work at some times then not later etc.

I did notice that in some cases, selecting the class name (double click to select the text) works whereas single clicking and leaving the | in the name does not.

Will get back to you asap!

[2018-01-27 06:15] JoeCreates commented on #1826
I do not have access to another computer that I can easily test on. The nature of this issue means that I might have to run flashdevelop for an extended time in order to see it.

[2018-01-27 17:32] TerryCavanagh opened #1979 "Haxedevelop crashes frequently since 5.3.1.2"
Hey all,

I've been using Flashdevelop (and now Haxedevelop) since 2009, and I'm big fan. In more than a decade, I can't remember it ever crashing before.

Since Haxedevelop version 5.3.1.2, I've been getting frequent crashes - occasionally when saving new files, occasionally when starting up (maybe 1 in 4 times).

I'm not getting any useful information about why this is happening, but am happy to

[2018-01-30 22:12] sebpatu opened #1981 "haxe libs install prompt, also ask for -net-lib attribute"
Hi,
 the new feature that can detect missing haxe libraries and propose to install them for the user is good.
but it also detect potential ibraries with -net-lib attribute
it should detect the haxe compiler attribute more precisely.
Thanks

[2018-01-31 05:49] SlavaRa commented on #1981
Thanks, I will check it tonight

[2018-01-31 06:32] SlavaRa opened #1982 "[ASGenerator] `Implement interface methods` shouldn't be show inside the class."

[2018-01-31 17:54] SlavaRa opened #1984 "[ASGenerator] Contextual generator shouldn't work for special keywords, e.g. `private', `public` etc"
<img width="247" alt="2018-01-31_20-53-47" src="https://user-images.githubusercontent.com/1700940/35638702-e106ba0e-06c8-11e8-92f9-6b07d86a8a56.png">

[2018-01-31 21:26] #1982 closed

[2018-02-01 16:05] soccerob commented on #1826
I have the same issue with my computer. After a restart, everything is super snappy and responsive. After several hours/days, it progressively starts getting worse until I can't stand it anymore and do another restart. I've tried just restarting FD but it doesn't improve the performance. Everything else on my computer is super snappy.
It gets so bad, that eventually switching between files (Ctrl +

[2018-02-01 17:54] TerryCavanagh commented on #1979
A couple of days into this bug, I can at least clarify that it happens at two different points only:
 * At startup.
 * When saving a new file.

The rest of the time, things are stable.

[2018-02-01 18:03] Meychi commented on #1979
Are you working with a Haxe project? Do you have any 3rd party plugins installed?

[2018-02-01 18:07] TerryCavanagh commented on #1979
I'm working on a haxe project, just using OpenFL and my own framework. I don't have any 3rd party plugins installed.

[2018-02-05 02:54] matrix3d commented on #1976
@SlavaRa yes,the f4 not work,sometimes.

[2018-02-05 08:13] SlavaRa commented on #1976
How to reproduce it?

[2018-02-06 10:59] SlavaRa opened #1986 "[CodeRefactor] Index was out of range. Must be non-negative and less than the size of the collection."
[code]
`|` - cursor
[code]

[2018-02-06 12:10] SlavaRa commented on #1986
#1907

[2018-02-06 12:42] #1984 closed

[2018-02-06 12:53] SlavaRa opened #1987 "[ASGenerator] Contextual generator shouldn't work for comments"
![2018-02-06_15-53-05](https://user-images.githubusercontent.com/1700940/35860646-d8772a0e-0b55-11e8-8b09-58c0f5d73629.png)

[2018-02-06 13:28] SlavaRa opened #1989 "[ASGenerator] `Add to interface ISome` shouldn't work for static members"
![2018-02-06_16-27-42](https://user-images.githubusercontent.com/1700940/35861868-b25b41ac-0b5a-11e8-9e16-70c806e6ec4a.png)

[2018-02-06 13:30] #1987 closed

[2018-02-06 13:33] gene-pavlovsky opened #1990 "Move line up/down doesn't work at the end of the file"
If a file doesn't have a final newline, it's impossible to use "move line up" editor shortcut (ctrl+alt+up) on the last line, or "move line down" (ctrl+alt+down) on the line before the last line.

[2018-02-06 14:51] SlavaRa opened #1992 "[ASGenerator] `Assign statement to variable` Object reference not set to an instance of an object."
[code]
`|` - cursor
[code]

[2018-02-06 18:31] #1989 closed

[2018-02-06 19:09] #1992 closed

[2018-02-06 20:14] SlavaRa opened #1995 "[ASGenerator] Contextual generator shouldn't outside the class, e.g. `generate toString()`"
<img width="165" alt="2018-02-06_23-14-26" src="https://user-images.githubusercontent.com/1700940/35881924-8306b204-0b93-11e8-8f6c-0b08ae093bb9.png">

[2018-02-07 06:36] matrix3d opened #1998 "import Vector;"
the fd auto add import Vector; code
input new Vector.<String>;
and can not add new Vector.<String>();

[2018-02-07 06:40] SlavaRa commented on #1998
![newvector](https://user-images.githubusercontent.com/1700940/35902053-d2b6b2fc-0bea-11e8-96c1-21dd18267547.gif)
FD 5.3.1.122

[2018-02-07 07:25] matrix3d commented on #1998
![bug2](https://user-images.githubusercontent.com/4150631/35903666-264816d8-0c1b-11e8-950d-4d260f5de67e.gif)

[2018-02-07 07:27] matrix3d commented on #1998
5.3.1.2  master#be0b331f18

[2018-02-07 07:31] SlavaRa commented on #1998
Thanks

[2018-02-07 07:33] SlavaRa commented on #1998
#1947

[2018-02-07 10:06] SlavaRa opened #1999 "[ASGenerator] `Assign statement to variable`. Object reference not set to an instance of an object."
[code]
[code]
[code]
[code]
[code]
`|` - cursor
[code]

[2018-02-07 11:49] gene-pavlovsky opened #2000 "Find and Replace crashes when using group back-reference in replacement text"
I have a file containing strings like this:
`storeLayoutViewState(CLayoutViewState.OFFLINE);`

I use "Find and Replace", in Regular expressions mode.
Find what is: `storeLayoutViewState\(([^)]*)\);`
Replace with is: `localStorageModel.layoutViewState = $1;`

If I use "Find Next" button, the lines I expected to match are found correctly.
If I press the "Replace" button, FD crashes.

I have the late

[2018-02-07 11:57] gene-pavlovsky commented on #2000
Strangely, if I set a breakpoint at `void ReplaceButtonClick`, the code flow goes normally and no error happens.

[2018-02-07 12:00] SlavaRa commented on #2000
I can fix it at the weekend(maybe), if no one does it before.

[2018-02-07 12:01] gene-pavlovsky commented on #2000
Do you have any idea about the possible causes? It was reproducible several times (FD crashed, I ran it again 3 o 4 times), but when I tried to debug it, the problem went away, and I can't reproduce it again.

[2018-02-07 15:20] TerryCavanagh commented on #1979
I guess this is probably related to: https://github.com/fdorg/flashdevelop/issues/1808

Will check in on that thread and close this one if it's a duplicate issue.

[2018-02-07 15:24] TerryCavanagh commented on #1808
Have been getting a lot of crashes with Haxedevelop too. In my case, I'm using Haxedevelop 5.3.1.2 with Haxe 3.4.4. I get frequent crashes when starting up initially, and when saving new files.

Happy to provide any information that might be useful (I don't seem to have an Exceptions.log file on my pc)

[2018-02-07 17:23] jpmccfdl commented on #1826
This issue is a recurring one for some users I am currently supporting, they can work around it when typing/highlighting text though when it reaches an unbearable point the workaround is to restart their machines.

All users are on version 5.2.0.3.

Are there any other suggested workarounds to this issue at present?

Thanks

Hardware:
Dell Precision T7910, Windows 10 Build 1703, Intel Xeon E5-2640

[2018-02-08 14:39] #1995 closed

[2018-02-08 15:26] NicholasHasAwoken opened #2002 "FlashDevelop can't find Vector class"
Autocompletion doesn't see Vector class. I'm afraid I will not be able to compile code.

Also, Vector is not highlighted, just like any unknown or unreachable definition.

[2018-02-08 17:09] SlavaRa commented on #2002
as3|haxe|php|js?

[2018-02-08 17:38] NicholasHasAwoken commented on #2002
As3

[2018-02-08 17:38] SlavaRa commented on #2002
fd version?

[2018-02-08 17:41] NicholasHasAwoken commented on #2002
5.3.1.2

[2018-02-09 08:12] gene-pavlovsky opened #2003 "Open Resource dialog throws exception"
I've had a project open, with a particular file open. I deleted the dir containing that file (using the Project panel), and closed the file.
Now if I press Ctrl+R to open `Open Resource`, an exception dialog appears:
[code]

[2018-02-09 11:02] NicholasHasAwoken commented on #1807
I tried 5.3.1.2 recently. I don't get such type of exception anymore.

[2018-02-09 11:05] SlavaRa commented on #2002
![2002_as3_vector](https://user-images.githubusercontent.com/1700940/36024905-4843ccf4-0da2-11e8-8e60-77cf558eb42d.gif)

[2018-02-09 11:16] SlavaRa opened #2005 "[ASGenerator] 'Generate constructor' and 'Generate toString()' shouldn't work for typedef"

[2018-02-09 11:37] #2005 closed

[2018-02-09 12:16] TerryCavanagh commented on #1979
Just had this pop up:

![haxedevelop](https://user-images.githubusercontent.com/2874150/36027359-ec2b1e90-0d92-11e8-805f-538af701f172.png)

No idea if it's related to the frequent crash bugs, but I've never seen anything like it before. Here's the text:

[code]

[2018-02-09 12:18] SlavaRa commented on #1979
Please try last development version
http://flashdevelop.org/downloads/builds/

[2018-02-09 12:20] Neverbirth commented on #1979
I think that's separate issue.

Do you do anything before getting the crash? Try leaving FD run for a bit of time before doing anything. I saw in a colleague's PC yesterday also some crashes, and it seemed to be that some code in FD tries to access some Scintilla instance that was partially freed from memory because documents were closed, and since it was related to Scintilla the error was a non m

[2018-02-09 12:25] SlavaRa opened #2007 "[ASGenerator] 'Override completion' shouldn't work for `abstract`"
![2018-02-09_15-25-22](https://user-images.githubusercontent.com/1700940/36027732-7ca729d6-0dad-11e8-8356-d6b687c22c7a.png)

[2018-02-09 12:26] TerryCavanagh commented on #1979
@SlavaRa: Ok! I've downloaded and installed the latest development build. I'll keep an eye out if the crashes and errors continue to happen, and report back if so.

@Neverbirth: Nope, I just open an existing project by double clicking on it, and Haxedevelop crashes at startup. I'm using a new version now, and so far it's stable! But it the crashes happen again, I'll try to grab a video to better e

[2018-02-09 12:29] NicholasHasAwoken commented on #2002
What should I do if some reason, I don't have such class? http://prntscr.com/icc5z7

[2018-02-09 13:32] #2002 closed

[2018-02-09 13:33] #1807 closed

[2018-02-09 14:51] SlavaRa opened #2009 "[ASGenerator] `Convert to constant` shouldn't work for `string interpolation`"
![2018-02-09_17-51-24](https://user-images.githubusercontent.com/1700940/36033368-e8d05290-0dc1-11e8-92d5-c37dfbdc4ee1.png)

[2018-02-09 15:09] TerryCavanagh commented on #1979
Ok! Both crashes are still happening on the latest development version. I caught em on video, in case that provides any clues:

Crash at startup: https://streamable.com/w16me

Crash on saving a new file: https://streamable.com/azl0r

[2018-02-09 15:59] #2007 closed

[2018-02-09 17:24] #2009 closed

[2018-02-09 17:27] SlavaRa opened #2011 "[CodeRefactor] Object reference not set to an instance of an object."
[code]
`|` - cursor
[code]

[2018-02-09 20:10] #2011 closed

[2018-02-09 20:10] SlavaRa opened #2013 "Tests for #2012"

[2018-02-11 05:21] matrix3d commented on #1976
`package
{
	/**
	 * ...
	 * @author lizhi
	 */
	public class SkinAnimationCtrl
	{
		public var anim:Object;
		public var anims:Array = [];
		private var startTime:Number = 0;
		public var time:Number = 0;
		public var animtime:Number = 0;
		public var playing:Boolean = true;
		public var transitionAnim:Object;
		public function SkinAnimationCtrl()
		{

		}

		override public function update(time:i

[2018-02-11 15:20] #118 closed

[2018-02-12 12:53] gene-pavlovsky opened #2014 "F4 opens file from the wrong folder"
I was working on project A, which has library L in it's .haxelib dir.
While doing so, I've opened `ISomeInterface` (coming from library L).
I then closed all files, and opened library L's project (in a completely separate dir).
I opened a class which `implements ISomeInterface`, pressed F4 on that interface, and instead of opening it's source in the current project's dir, FD opened the one in the

[2018-02-12 18:40] #2013 closed

[2018-02-13 01:54] DarthVan opened #2016 "just strange thing with dots"
Hi! If i write somewhere ".." or ".;" or ".," (dont ask why :)), it ll be replaced by ".false." or ".false;" or ".false,"
Is this a bug? Found in AS3 project, FD 5.3.1.130

Example 1:
var x : int = 1;
**..**
↓
var x : int = 1;
**.int.**

Example 2:
var b : Boolean = false;
**.;**
↓
var b : Boolean = false;
**.false;**

Ps: in comments or function's arguments this not happends:
// my private methoo

[2018-02-13 07:32] SlavaRa opened #2017 "[ASGenerator] Contextual generator shouldn't work for `var some(default, |null)`"
[code]
[code]
[code]
`|` - cursor

[2018-02-13 07:35] SlavaRa opened #2018 "[ASGenerator] 'Generate constructor' and 'Generate toString()' shouldn't work outside the class."
[code]
[code]
`|` - cursor

[2018-02-13 08:05] SlavaRa opened #2019 "[ASGenerator] Contextual generator should work for `"some string that contains =";|`"
[code]
`|` - cursor

[2018-02-13 08:56] DarthVan opened #2020 "Bug in <![CDATA[]]> when inserting some chars"
When i edit my xml files, i often have this bug in CDATA tags:

Example:
`<e><![CDATA[abcde.. абвгд..]]></e>`
if i add char "о" (russian symbol o), FD will add some code after that symbol and break this tag:
`<e><![CDATA[abcde.. абвгд.. о</![CDATA[>]]></e>`

[2018-02-13 20:39] #2017 closed

[2018-02-13 21:00] Yanrishatum opened #2022 "variable name resolves to ?name if type is function"
When local function is declared with optional type with type of function being optional function variable name resolves to `?name` instead of `name` . Only happens if declared inside local function.

Isolated reproduction:
[code]

[2018-02-14 04:12] SlavaRa commented on #2022
[code]
`|` - cursor
apply `Generate private function`, `Generate public function`:
[code]

[2018-02-14 04:13] SlavaRa commented on #2022
[code]
`Refactoring` > `Rename` is now available

[2018-02-14 11:57] #2022 closed

[2018-02-15 05:54] SlavaRa opened #2029 "[ASComplete] `Goto Declaration` doesn't work for `"".len|gth`"
[code]
`|` - cursor

[2018-02-15 08:25] SlavaRa commented on #1970
fixed via #2024 ?

[2018-02-15 11:44] SlavaRa commented on #1976
[code]
`|` - cursor

[2018-02-15 11:50] SlavaRa commented on #1976
Will be fixed today, I'm sorry

[2018-02-15 14:11] SlavaRa commented on #1976
Please try build from #2032

[2018-02-15 20:56] SlavaRa commented on #1998
Will be fixed tomorrow:)

[2018-02-16 10:41] #1947 closed

[2018-02-16 10:41] #1998 closed

[2018-02-16 16:08] SlavaRa commented on #1383
Will be fixed today

[2018-02-16 20:15] #1383 closed

[2018-02-16 20:53] Yanrishatum opened #2035 "Remove actuate dependency from OpenFL project template"
What the title says. :)
https://github.com/fdorg/flashdevelop/blob/12a513134b319bca19ed346b052ae3da4af5b001/FlashDevelop/Bin/Debug/Projects/380%20Haxe%20-%20OpenFL%20Project/project.xml.template#L18
Basically, that dependency is completely optional and not required to run OpenFL in any way, hence there is no reason for it to be in default project template.
I don't even have it installed, and for e

[2018-02-17 10:26] #2035 closed

[2018-02-17 13:17] #1970 closed

[2018-02-19 13:03] gene-pavlovsky opened #2037 "Random exceptions when editing using the latest dev branch"
Just editing code (Haxe), I'm getting frequent exceptions, all like this one:

[code]

[2018-02-19 14:31] SlavaRa opened #2039 "Incorrect data in the file model"
[code]
[code]

[2018-02-19 14:34] TerryCavanagh commented on #1979
Heya,

Just checking in to say I updated to the new latest development version (5.3.1.141), and can confirm that both crash bugs are still happening - at start up, and when saving a new file.

Again, happy to run tests and try stuff to figure this out and hopefully get it fixed. Let me know if there's anything I can do.

[2018-02-19 14:37] SlavaRa commented on #1979
Please give me your `Exceptions.log`

[2018-02-19 14:57] TerryCavanagh commented on #1979
Here you go!

[code]

Weirdly, there's very little in it. I get 5/6 crashes a day, so I'm guessing they're not recorded here.

[2018-02-20 08:58] #2037 closed

[2018-02-22 06:37] #1880 closed

[2018-02-22 09:28] bihan81 opened #2042 "Full code hint is not available Is there a solution?"
![code_hint](https://user-images.githubusercontent.com/13758235/36530159-ae190ef8-17fd-11e8-95a3-91cc98f9f57f.png)
[ 5.3.3 ]

![code_hint_5_2](https://user-images.githubusercontent.com/13758235/36531642-ef4afdb0-1801-11e8-9606-95da029a78e0.png)
[ 5.2 ]

TweenMax, one of the commonly used twin classes.
I could see the full code before (perhaps version 5.2), but now I can see it (5.3.3)
This is not

[2018-02-22 13:59] #1981 closed

[2018-02-22 14:16] SlavaRa commented on #2042
Thanks for the report. I will check it tonight.

[2018-02-22 15:33] sebpatu commented on #1981
thanks :)

[2018-02-22 20:05] SlavaRa opened #2045 "Basic support for AIR 29 and FP 29"
https://labs.adobe.com/technologies/flashruntimes/air/

[2018-02-23 14:45] arietto commented on #1469
I have tried Haxe 4 preview release. The same error.

C:\HaxeToolkit\haxe\lib\hxcpp/3,4,188/
-D hxcpp=3.4.188
------
I've studied haxe issue tracker. Here is the solution: set  COMSPEC variable value to cmd:
COMSPEC=%SystemRoot%\system32\cmd.exe

[2018-02-23 17:50] arietto opened #2048 "Debugging coverage"
For example, hxcpp support is limited in this IDE (no debugging at all). What targets have debugging support? Add info about this to the main IDE page.

[2018-02-24 23:33] dkolyesnik commented on #1794
I have a similar issue.
When I launch Haxe Develop and it opens the last opened project, it creates multiple haxe.exe process instances. When I close HD it kills only one haxe.exe. Compiling do not increase the number of haxe.exe processes though.
And it look like the number of processes HD opens at startup equals to the number of opened .hx files in the project.
Opening HD via .hxproj file do not

[2018-02-24 23:39] dkolyesnik commented on #1794
The number of haxe.exe instances is not equal to .hx files, but there is clearly a dependency. More files opened lead to more processes.

[2018-02-24 23:44] dkolyesnik commented on #1794
And it not depens on the type of the project, I tryed several with different Platform settings and the result is the same

[2018-02-25 00:02] dkolyesnik opened #2049 "Ctrl + Click goto Declaration is not working on Windows 10"
F4 and Right Click -> Goto Declaration is working.
There is no highlighting or cursor change when I press Ctrl and hover mouse over method or type

HD 5.3.x, I had this issue with all last versions that I was using including 5.3.3.1.
Didn't pay attention to this until I saw this feature working on my laptop (windows 8.1).

[2018-02-25 09:48] elsassph commented on #2049
AFAIK Ctrl+Click navigation was provided by a plugin. It isn't a default feature.

[2018-02-25 09:49] #2049 closed, assigned to nobody

[2018-02-25 16:29] SlavaRa commented on #2049
@dkolyesnik https://github.com/SlavaRa/fdplugin-quicknavigate

[2018-02-26 03:36] matrix3d commented on #1976
the 5.3.3.1 also not work

[2018-02-26 03:39] matrix3d commented on #1976
this line
https://github.com/matrix3d/recast4j/blob/master/src/test/RecastSoloMeshTest.as#L111

.load()

[2018-02-26 12:34] romamik opened #2051 "--cwd in hxml is not supported in haxe hxml projects"
I've created hxml that looks like this:

    --cwd ..\build\html5
    --macro addGlobalMetadata('', '@:expose')
    project-html5.hxml

It compiles fine, but flashdevelop fails to determine classpaths from it and thus does not show my source files in Project pane.

PS I changed the title. The actual problem is not in sub-hxmls, but in --cwd compiler option.

[2018-02-27 04:51] Yanrishatum opened #2053 "No completion for `new Class(` if constructor implemented only in superclass."
Currently if class does not implement a `new` constructor, FD does not provide any completion for it even if `new` was implemented in superclass.
Note: It can be implemented at any point in extension chain, not only in directly extended class.
Reproduction code:
[code]

[2018-02-27 12:21] SlavaRa opened #2054 "RTE"
[code]

[2018-02-28 02:24] matrix3d opened #2056 "is the *.as,but get hx"
![default](https://user-images.githubusercontent.com/4150631/36766611-93e12cb4-1c71-11e8-83d4-67b19fee2fb0.gif)

[2018-02-28 02:29] matrix3d commented on #1976
@SlavaRa maybe this bug need re open.

[2018-02-28 03:36] matrix3d opened #2057 "can not break point in this line"
![2](https://user-images.githubusercontent.com/4150631/36768726-7e3c410a-1c7b-11e8-9b84-5962f69d3e61.gif)

the line 109,110,111,can not break point

the 112 can

[2018-02-28 05:31] SlavaRa commented on #1976
@matrix3d Hi, I should check it

[2018-02-28 05:33] SlavaRa commented on #2056
Is it Haxe project?

[2018-02-28 06:17] matrix3d commented on #2056
it is as3 project

[2018-02-28 06:17] matrix3d commented on #1976
@SlavaRa thanks

[2018-02-28 06:42] matrix3d commented on #2056
![3](https://user-images.githubusercontent.com/4150631/36773636-8a9a82c6-1c95-11e8-85e5-c28439377e1b.gif)
and this [model]code ,not the true code.

the left is the source of swc.

[2018-02-28 08:51] matrix3d commented on #2056
@SlavaRa it is get the as.but not the same code of my swc.

my swc the same package name of adobe

[2018-02-28 09:13] SlavaRa commented on #2056
Do you have some code in the files whose names and packages are the same as the names and package from the swc library?

[2018-02-28 09:17] matrix3d commented on #2056
I wrote some as the same package name provided by Adobe. Then the generated SWF into the box directory. Then through the FD view, I found it is not as written, but use Adobe as the code. However, this error will not cause any impact.
The most important is that F4 error, this error is difficult to use.

[2018-02-28 11:20] SlavaRa commented on #1976
@matrix3d please try latest development build, from http://flashdevelop.org/downloads/builds/

[2018-02-28 17:03] #2053 closed, assigned to nobody

[2018-02-28 17:11] SlavaRa opened #2060 "RTE after `Generate public function`"
[code]
Error:
[code]

[2018-03-01 06:23] matrix3d commented on #1976
![f4buggif](https://user-images.githubusercontent.com/4150631/36829872-06da5f70-1d5c-11e8-9b91-78b6b9da6646.gif)
https://github.com/fdorg/flashdevelop/commit/72662e0730

[2018-03-01 06:49] matrix3d commented on #1976
@SlavaRa

[2018-03-01 07:01] SlavaRa commented on #1976
It's magic :( Can you say me which version works good?
http://www.flashdevelop.org/community/viewforum.php?f=11

[2018-03-01 07:13] matrix3d commented on #1976
5.3.0 work

[2018-03-01 07:16] matrix3d commented on #1976
@SlavaRa Can you reproduce this bug? The code I provided should be easily reproduced. Now there's a lot of problems in this version of F4

[2018-03-01 07:18] SlavaRa commented on #1976
No, I can't reproduce this bug :(
Can you give me some project where bug reproduce?

[2018-03-01 07:25] matrix3d commented on #1976
can you try this proj?
https://github.com/matrix3d/recast4j/blob/master/recast4j-as3.as3proj

this code

https://github.com/matrix3d/recast4j/blob/master/src/test/RecastSoloMeshTest.as#L111

[2018-03-01 07:27] matrix3d commented on #1976
f4 the ObjImporter

[2018-03-01 07:29] SlavaRa commented on #1976
I mean all project with code. not project file

[2018-03-01 07:32] matrix3d commented on #1976
@SlavaRa this is the all project with code

https://github.com/matrix3d/recast4j

[2018-03-01 07:34] SlavaRa commented on #1976
Thanks @matrix3d. I think that now I can find a bug in the course of the day.

[2018-03-01 18:56] #2060 closed, assigned to SlavaRa

[2018-03-01 19:10] SlavaRa commented on #2014
WIP

[2018-03-02 07:12] SlavaRa commented on #1976
@matrix3d please try development-build from https://ci.appveyor.com/project/FlashDevelop/flashdevelop-devel/build/5.3.3.13-lynciepp/artifacts

[2018-03-02 07:13] SlavaRa commented on #2014
@gene-pavlovsky please try development-build from https://ci.appveyor.com/project/FlashDevelop/flashdevelop-devel/build/5.3.3.13-lynciepp/artifacts

[2018-03-02 07:19] matrix3d commented on #1976
@SlavaRa this version is ok.thanks

[2018-03-02 07:23] matrix3d commented on #1976
This version is OK, but there is a small mistake, and occasionally press F4 2 times to jump.

[2018-03-02 07:38] DarthVan commented on #1976
Hi! Have same problem before, but in 5.3.3.13 it works fine :)

Oh ya, some times needs to press F4 twise.

[2018-03-02 09:42] gene-pavlovsky commented on #2014
Doesn't fix this bug

[2018-03-02 09:48] SlavaRa commented on #2014
Ok, thanks

[2018-03-02 11:42] DarthVan opened #2064 "FD crashes after rename some static functions arguments"
Example:
[code]
If i rename 'a' or 'b' arguments by using hotkey (alt + D), FD will stuck with bug.

[2018-03-02 12:02] #2064 closed, assigned to nobody

[2018-03-02 15:29] Gamezpedia opened #2066 "Can't install the plugins ! from the latest build"
Hi, i just build a new machine for development and did install everything fresh , and it goes smoothly till this problem - i can't install plugins it just throws me this error so i guess may be there is something wrong with the URL.

it's same with the Themes & Haxe Neko compiler links too.

![image](https://user-images.githubusercontent.com/1169093/36906556-a17f1f68-1e4f-11e8-9274-4ae478c7872f.pn

[2018-03-02 22:57] JoeCreates commented on #1794
I have this issue when "Completion Mode" is set to CompletionServer, but not if I use one of the other two completion modes. What's worse is that it seems to create a LOT of haxe processes over time.

[2018-03-02 23:11] dkolyesnik commented on #1794
Yes, I also have this problem only when using the CompletionServer mode.

[2018-03-03 04:10] JoeCreates commented on #1794
On a related note, is the completion meant to be cached? I have projects with many macros and it takes like 5-10 seconds to bring the autocomplete up with the macro generated properties. In VSCode it's basically instant because it's cached. Is there an option to turn on a cache somewhere or is this something which needs to be added?

[2018-03-03 09:11] DarthVan commented on #2016
In 5.3.3.14 it was fixed.

[2018-03-03 10:58] SlavaRa opened #2069 "RTE: startIndex cannot be larger than length of string."
[code]
`|` - cursor
[code]

[2018-03-03 12:35] #2069 closed, assigned to SlavaRa

[2018-03-03 18:05] JoeCreates commented on #1979
I'm getting these, too.

[2018-03-03 18:06] SlavaRa commented on #1979
Please try develipment-build from http://flashdevelop.org/downloads/builds/

[2018-03-03 19:48] #255 closed

[2018-03-03 20:09] SlavaRa commented on #870
Fixed in latest dev build.

[2018-03-03 20:09] #870 closed

[2018-03-03 20:14] #467 closed

[2018-03-03 20:34] #2045 closed, assigned to SlavaRa

[2018-03-03 20:35] ncannasse commented on #1794
@JoeCreates when mode is set to CompletionServer you should get cache results. But this requires a first successful compilation. In VSCode I think it's automatically triggered upon opening the project.

[2018-03-03 20:36] SlavaRa commented on #2056
@matrix3d Please try latest development build from http://flashdevelop.org/downloads/builds/

[2018-03-03 21:05] SlavaRa commented on #1999
WIP

[2018-03-03 21:58] TerryCavanagh commented on #1979
Hey -

I'm on 5.3.3.14 from a few days ago, and I'm still getting regular crashes.

[2018-03-03 22:00] SlavaRa commented on #1979
Please give me your new `Exceptions.log`

[2018-03-03 22:04] SlavaRa commented on #1979
latest version 5.3.3.18, can you try it?

[2018-03-03 22:16] TerryCavanagh commented on #1979
New `Exceptions.log` doesn't contain any references to the frequent crashes, but sure, here it is: https://pastebin.com/raw/crmH6HP5

I'll try the latest version!

[2018-03-03 22:17] SlavaRa commented on #1979
thanks, I'll try to solve your problem as quickly as possible!

[2018-03-03 22:21] TerryCavanagh commented on #1979
Appreciated, thank you! 👍

(sorry, deleted the follow up comment, that's not helpful. I'm just venting. 😭 )

[2018-03-04 14:57] #1999 closed

[2018-03-04 15:25] SlavaRa commented on #1861
@ncannasse hi, how can i test it?

[2018-03-04 15:32] ncannasse commented on #1861
Any Haxe error using 4.0-RC3 will display wrongly only HaxeDevelop.
And if you have a string containing "é" before that it will produce another issue.
Disable your A/V to install Haxe, it's safe.

[2018-03-04 15:34] SlavaRa commented on #1861
ok :)

[2018-03-05 07:53] matrix3d opened #2076 "new class error"
![f4buggif](https://user-images.githubusercontent.com/4150631/36963240-68b5a144-208d-11e8-849b-f5ee1f59462a.gif)

[2018-03-05 08:01] matrix3d commented on #2056
@SlavaRa the same

[2018-03-05 10:30] gene-pavlovsky commented on #2014
Works correctly with the latest dev build

[2018-03-05 10:30] #2014 closed

[2018-03-05 10:30] gene-pavlovsky commented on #2014
Thanks!

[2018-03-05 17:30] TerryCavanagh commented on #1979
Hey,

So, just so you know, this has gotten pretty dramatically worse in the last couple of development builds. The usual workflow right now is to spend three or four minutes a day trying to open HaxeDevelop, and for it to crash over and over again before it successfully opens.

Is this not happening for any of the developers? Is it just me and @JoeCreates? Because a crash bug like this is so, so

[2018-03-05 21:56] elsassph commented on #1979
@SlavaRa if the error is always located in `GetExpressionType`'s `EvalExpression` could we make @TerryCavanagh / @JoeCreates a build with debug files and a `try/catch` to log the expression parsed and the error location?

[2018-03-05 22:00] SlavaRa commented on #1979
Yes, we can do it tomorrow morning!
(@elsassph , you are absolutely right, I thought about it, but today I did not have time to do it.)

[2018-03-06 09:08] SlavaRa commented on #1979
@TerryCavanagh @JoeCreates
please try build from https://ci.appveyor.com/project/FlashDevelop/flashdevelop-devel/build/5.3.3.22-bwbflons/artifacts

[2018-03-06 19:43] SlavaRa commented on #1979
any news?

[2018-03-06 20:45] TerryCavanagh commented on #1979
Hey, So, I tried this out this morning, and I can't get it to crash! Which is very mysterious! Idk! I'll keep trying!

[2018-03-07 11:11] TerryCavanagh commented on #1979
Yeah, that version just isn't crashing for me.

Any chance the bug is specific to haxedevelop? idk.

[2018-03-07 11:34] JoeCreates commented on #1979
I haven't had a chance to check this myself, yet, but is it not crashing
simply because the exception is being caught? I.e. we should expect entries
in the log without it actually crashing when these exceptions occur.

On 7 Mar 2018 11:11, "Terry Cavanagh" <notifications@github.com> wrote:

[2018-03-07 11:37] TerryCavanagh commented on #1979
Well, here's the exceptions.log file for this version:

[code]

[2018-03-09 13:04] neuronix opened #2082 "[AS3] latest dev build injects package name instead of just classname"
Had to update to dev build to fix F4 bug, but now run into this one:

1. Type "MyCla...", select suggested "my.package.MyClass"
2.  my.package.MyClass is injected instead of MyClass

Thanks

[2018-03-09 14:11] neuronix commented on #1976
F4 still does not work properly in some cases in latest dev build. (5.3.3.25)

[2018-03-10 22:08] sebthom commented on #1979
I am also experiencing very frequent crashes (sometimes every minute) for my Haxe projects with the latest release as well as the development version. I think the crashes occur white auto completion gets triggered.

The only exceptions I can see in the logs are these:
[code]

@SlavaRa Btw. I have [QuickNavigate](https://github.com/SlavaRa/fdplugin-quicknavigate) 3.0.89 installed.

[2018-03-10 22:42] sebthom commented on #1979
Now I got a random popup with

[code]

[2018-03-11 11:33] elsassph commented on #1979
Guys if possible try showing the line of code where the issue happens. It helps a lot figuring the issue.

[2018-03-11 11:49] sebthom commented on #1979
@elsassph Then FD should better log the line numbers. That is all that gets reported.

[2018-03-12 14:42] neuronix commented on #1976
I have a feeling this is related to not detecting the correct class when the package is missing. If I F4 on MyClass in a file it doesn't work, but go up to the imports, F4 on my.package.MyClass and it works.

[2018-03-13 08:01] HerrBvomSee commented on #2066
On my side it's the same problem. Tried to install HaxeDevelop on two clean machines with the same result that I can not install any tool/plugin from this dialog.
Also I do not have an preinstalled versions so I can not copy any old dlls to this installation.

[2018-03-14 09:24] djaonourside opened #2084 "Disabling unused import warnings"
Is it possible to turn off unused import warnings? They are rather annoying in haxe-react projects with jsx-function when component class imports are marked as unused.

[2018-03-14 13:51] neuronix commented on #2076
Same issue in AS3.

[2018-03-14 15:01] djaonourside opened #2085 "Disabling auto format"
How disable auto format? For example, FD makes `var x = 1;`  from ` var x=1;`

[2018-03-14 16:23] Neverbirth commented on #2084
Tools -> Program Settings -> HaxeContext -> Enabled Compiler Services. Disable the Diagnostics support.

Alternatively you can also disable linting in the LintingHelper section.

[2018-03-14 16:24] Neverbirth commented on #2085
If I'm not wrong: Tools -> Program Settings -> ASCompletion -> Disable Code Reformat set to true.

[2018-03-15 08:07] ghost commented on #1898
Same with 5.3.1.27

Debugger startup error. For troubleshooting see: http://www.flashdevelop.org/wikidocs/index.php?title=F.A.Q
Error details: net.sf.jni4net.jni.JNIException: Can't load java class for flash.tools.debugger.concrete.DValue_ from classLoader sun.misc.Launcher$AppClassLoader@35ce36 ---> java.lang.LinkageError: flash/tools/debugger/concrete/DValue_ : Unsupported major.minor version 52

[2018-03-15 08:08] ghost commented on #1855
Same with FD 5.3.1.27

FlashDevelop x32 (whatever version is on the forum post) with Java 6 x86
OS: Win 7 x64

Debugger startup error. For troubleshooting see: http://www.flashdevelop.org/wikidocs/index.php?title=F.A.Q
Error details: net.sf.jni4net.jni.JNIException: Can't load java class for flash.tools.debugger.concrete.DValue_ from classLoader sun.misc.Launcher$AppClassLoader@35ce36 ---> java.la

[2018-03-15 08:30] djaonourside commented on #2084
@Neverbirth
Thank you for your help)

[2018-03-15 08:31] #2084 closed, assigned to nobody

[2018-03-15 08:32] djaonourside commented on #2085
Thanks)

[2018-03-15 08:32] #2085 closed, assigned to nobody

[2018-03-15 08:38] ghost commented on #1898
Same with 5.3.1.27 and with 5.3 (the latest as of 15 Mar 2018)

FD x32 and Java 1.6 x32.

If I use FD x64, I get this

[2018-03-17 12:47] sebthom commented on #1979
@SlavaRa @elsassph Is there any way to enable line number reporting in FD stacktraces, or can you provide a debug build with line number reporting enabled?

[2018-03-17 17:20] DarthVan opened #2086 "[Haxe] FD crashes when show autocompletion list from 'for'"
Hi! I tried to create a variable for iterator:

[code]

for use it in loop:

[code]

But, if i dont use that variable 'keys', all works fine:

[code]

[2018-03-18 00:01] Xgamefactory commented on #2045
and where is the support ? some notes maybe would be helpful

[2018-03-19 14:44] DarthVan opened #2087 "[Haxe] Renaming abstract enum's name calls FD error message."
I have this abstract enum:

[code]

When i renamed it using hotkey (Alt + R), all references were renamed correctly, but FD threw an error message.

[2018-03-20 19:05] Tembac commented on #1588
The same happens to me when I'm building the project for android with several openfl extensions. It is annoying because a lot of signs appear but the project is compiling fine.

[2018-03-22 11:51] #2086 closed, assigned to SlavaRa

[2018-03-22 11:56] SlavaRa commented on #2076
#2082 is it duplicate?

[2018-03-22 13:43] SlavaRa commented on #1979
@sebthom please try latest development build.

[2018-03-22 13:44] #1765 closed

[2018-03-22 14:00] SlavaRa commented on #1976
@neuronix Can you give me code for test?

[2018-03-23 08:05] neuronix commented on #1976
Hi @SlavaRa here is the simplest sample I found:

test.Test
test2.Test2 extends test.Test
test2.Test3 extends test2.Test2

In Main, var t:Test3 = new Test3();

- in Main, F4 on Test3 in extends line => go to Test2
- in Test2, F4 on Test in extends line => nothing happens

FD 5.3.3.24 dev build #41209c0c3f

[src.zip](https://github.com/fdorg/flashdevelop/files/1840622/src.zip)

[2018-03-23 12:00] SlavaRa commented on #1976
@neuronix Thanks

[2018-03-23 12:01] #1764 closed

[2018-03-23 12:03] SlavaRa commented on #2019
via #2089

[2018-03-23 12:03] #2019 closed

[2018-03-23 13:25] SlavaRa commented on #1976
@neuronix fixed #2090

[2018-03-23 14:00] SlavaRa commented on #1979
@sebthom I'll fix QuickNavigate at holidays.

[2018-03-23 15:51] sebthom commented on #1979
@SlavaRa the new development build looks stable. FD doesn't seem to freeze or crash anymore. Also no exception.log is written. Thank you!

[2018-03-23 16:51] #1976 closed

[2018-03-25 01:51] luxaritas opened #2094 "Running on WINE fails with System.ArgumentNullException"
Attempted to install FlashDevelop 5.3.3 under WINE on MacOS 10.12. It installed fine, but on attempting to start it failed. Installed Java 8u161-windows-i586, Activex Flash Player 29, and on trying to download .NET 4 it said it was already installed (I'm not sure if it came with WINE or it's picking up on Mono - what I got via the IE userAgent is `.NET CLR 2.0.50727; .NET CLR 3.0.30729; .NET CLR 3

[2018-03-25 03:24] luxaritas commented on #2094
This seems to have been introduced with 5.1.0. I can get 5.0.2 to run, albeit with a greatly reduced UI (http://prntscr.com/ivz474).

I can't help but think this has something to due with .NET/mono

[2018-03-25 04:32] luxaritas commented on #2094
The one thing I didn't try was the issue. Installing `dotnet40` via `winetricks` to repalce wine-mono did the trick. Would be nice if this was explicitly documented somewhere.

[2018-03-25 04:32] #2094 closed, assigned to nobody

[2018-03-25 13:58] #811 closed

[2018-03-25 15:25] SlavaRa commented on #1979
@TerryCavanagh Can you try latest development build?

[2018-03-25 20:48] SlavaRa commented on #264
Fixed in latest development build.

[2018-03-25 20:48] #264 closed

[2018-03-25 20:49] SlavaRa commented on #228
Fixed in latest development build.

[2018-03-25 20:49] #228 closed

[2018-03-26 11:21] SlavaRa commented on #1752
Fixed in development branch.

[2018-03-26 11:21] #1752 closed

[2018-03-26 11:53] SlavaRa commented on #805
Fixed in development branch.

[2018-03-26 11:53] #805 closed

[2018-03-26 12:11] SlavaRa commented on #1855
@romamik can you please latest development build?

[2018-03-26 13:39] Neverbirth commented on #2066
It seems related to this: https://githubengineering.com/crypto-removal-notice/

[2018-03-27 12:14] DarthVan commented on #2016
Got this again.. sometimes

[2018-03-29 10:30] neuronix commented on #1976
@SlavaRa Thanks man! :)

[2018-03-29 14:04] PierrotLL opened #2099 "[Bug] [AS3] Goto declaration doesn't work on "new MyClass()" (v5.3.3)"
Hi,
Since v5.3.3, feature "Goto declaration" doesn't work on class name preceded by keyword "new" and followed by "()".
It brings to the declaration of the class i'm currently in.

Flashdevelop 5.3.3.1, Windows 10, .NET 4.0

[2018-03-29 14:06] SlavaRa commented on #2099
@PierrotLL Please try latest development build from http://flashdevelop.org/downloads/builds/

[2018-04-01 18:10] TerryCavanagh commented on #1979
Heya, finally got around to trying the new development build - apologies for the delay.

The new build hasn't crashed at startup yet, but I got a new error message when trying to save a file, which is progress!

[code]

[2018-04-02 07:40] #220 closed

[2018-04-02 11:29] TerryCavanagh commented on #1979
Getting crashes at startup now again. No error messages, just a crash.

Gonna downgrade back to 5.2 for a while!

[2018-04-03 09:58] PierrotLL commented on #2099
Thanks, it works :)

[2018-04-03 09:58] #2099 closed, assigned to nobody

[2018-04-06 08:32] gene-pavlovsky opened #2103 "Add support for lix/haxeshim"
1. FD relies on parsing the Haxe SDK `CHANGES.txt` file to determine the SDK version. This breaks when trying to add `haxeshim` as the Haxe SDK.
Proposed changes: When adding an SDK:
- run `haxe --run show-version` (haxeshim feature) to check for haxeshim
- if failed, run `haxe -version` (haxe feature) to get the version
- if failed, try to get the version from `CHANGES.txt`
Another option - check

[2018-04-09 08:21] neuronix commented on #2082
Hey @SlavaRa have you found a fix for this yet? It's quite annoying :(

[2018-04-09 08:25] neuronix commented on #1976
@SlavaRa this is not totally fixed yet, there are still some occasions when F4 does not work. However, F4 on the import in the same file always works.

[2018-04-09 08:40] neuronix commented on #1976
I also noticed that sometimes F4 on a class definition will take me somewhere else... like F4 on MyClass and FD opens up SomeLib.as. And it's random ! Starting again, works fine.

[2018-04-09 09:14] Hakunametata opened #2104 "Debugger startup error."
Error details: net.sf.jni4net.jni.JNIException: Can't load java class for flash.tools.debugger.concrete.DValue_ from classLoader sun.misc.Launcher$AppClassLoader@addbf1 ---> java.lang.LinkageError: flash/tools/debugger/concrete/DValue_ : Unsupported major.minor version 51.0
   在 net.sf.jni4net.jni.JNIEnv.ExceptionTest()
   在 net.sf.jni4net.jni.JNIEnv.CallObjectMethodPtr(IJvmProxy obj, MethodId met

[2018-04-09 09:49] Hakunametata commented on #2104
I debug success in FD 5.1.1

[2018-04-10 12:05] SlavaRa commented on #2082
@neuronix I'll fix it at this week.

[2018-04-10 13:50] SlavaRa opened #2105 "RTE: 'startIndex cannot be larger than length of string.'"
[code]
`|` - cursor
press `ctrl` + `space`
result:
[code]

[2018-04-11 16:09] markknol commented on #2103
Just sharing my setup here. I have lix installed locally in the project, maybe it helps getting it work.

I use this as "prebuild command-line":
[code]

I use haxedevelop.hxml as hxml config:
![image](https://user-images.githubusercontent.com/576184/38629003-1bc2a3bc-3db3-11e8-87f1-3f1f7b8b4cbf.png)

This all works nicely, but I only need to configure the SDK.

I tried this, but this doesn't work:

[2018-04-13 08:08] PierrotLL opened #2108 "[Bug] [AS3] Help tooltip shows wrong parameters when using keyword "as""
![fd](https://user-images.githubusercontent.com/16303333/38723746-5a90904a-3f02-11e8-8229-1e8bf05d74bc.png)
As you can see, the help tooltip shows the Rectangle constructor parameters when I expected parameters of the "contains" method.

FlashDevelop 5.3.3.37

[2018-04-13 15:03] #2105 closed, assigned to SlavaRa

[2018-04-14 09:39] SlavaRa commented on #2104
Please try latest build from http://flashdevelop.org/downloads/builds/

[2018-04-14 11:08] SlavaRa commented on #2082
@neuronix please try build from https://github.com/fdorg/flashdevelop/pull/2109

[2018-04-16 20:52] sebthom opened #2111 "Support markdown syntax highlighting"
Please add support for markdown syntax highlighting.

Should be auto enabled for *.md and *.markdown files.

[2018-04-16 22:01] elsassph commented on #2111
I had attempted a MD syntax a long time ago - it wasn't amazing and language syntax file format may have changed subtly but someone could try to bring it back:
https://github.com/fdorg/flashdevelop/blob/feature/markdown/FlashDevelop/Bin/Debug/Settings/Languages/Markdown.xml

You can drop this file in your user application files under `Settings/Languages`.

[2018-04-16 22:18] sebthom commented on #2111
@elsassph Unfortunately I only get "Lexer 'markdown' (0) unknown" when trying to open a MD file after installing the xml config.

[2018-04-16 22:34] elsassph commented on #2111
Hmmm unfortunately there are also changes to cherry pick at the C# level to expose this lexer (built in Scintilla) :(

[2018-04-17 15:14] gene-pavlovsky commented on #2103
@markknol I would appreciate if you can test the PR (with haxeshim/lix project as well as a regular project).
I tested with a sample Haxe-JS project.
- Add an SDK pointing to your `%APPDATA/npm`, where haxeshim's `haxe.exe` resides.
- Add your library names to libraries list in the project properties (e.g. `tink_core`, etc.)
Nothing else should be necessary.

[2018-04-17 21:06] markknol commented on #2103
That assumes lix/haxeshim is installed globally? Is it also possible with local installed versions?

How can I test this version? Is there a binary available or something?

[2018-04-18 07:52] #2076 closed, assigned to SlavaRa

[2018-04-18 13:32] PierrotLL opened #2113 "[AS3] [Bug] Autocomplete auto-replace "true" (or "false") by "Boolean""
![bool](https://user-images.githubusercontent.com/16303333/38935014-8401cd44-431d-11e8-8bef-317764b783ac.gif)
Dev build 5.3.3.40

[2018-04-18 13:34] neuronix commented on #2082
Hi @SlavaRa now the autocomplate injects "globalclassifier.Boolean" instead of true/false...

[2018-04-18 13:35] SlavaRa commented on #2082
Wow, I'll fix it today

[2018-04-18 13:57] SlavaRa commented on #2113
fixed in http://flashdevelop.org/downloads/builds/

[2018-04-18 14:04] PierrotLL commented on #2113
Thanks, fixed in 5.3.3.41

[2018-04-18 14:04] #2113 closed, assigned to SlavaRa

[2018-04-18 14:13] PierrotLL commented on #2082
The package name injection bug reappeared in 5.3.3.41

[2018-04-18 17:41] gene-pavlovsky commented on #2103
I tested with a global installation, but you can try to add a locally installed SDK (FlashDevelop properties, HaxeContext, Installed SDKs) and see if it works. In theory it might :)

Here's a direct link to the build: https://ci.appveyor.com/api/buildjobs/9urt84p92t91a0yh/artifacts/FlashDevelop%2FInstaller%2FBinary%2FFlashDevelopPR_2112.zip

Tip: you can find a build for any open Pull Request:
- O

[2018-04-18 17:43] gene-pavlovsky commented on #2103
@back2dos maybe you can also take a look together with @Neverbirth to check what is wrong, which features are missing etc?

[2018-04-20 11:44] back2dos commented on #2103
So, it works for globally installed lix! :)

But:
- the version detection logic derails somewhat if you have the latest haxe (probably because `haxe -version` yields `4.0.0 (git build development @ 3018ab109)` which is what `haxe --run resolve-args` prints).
- if I try to use `node_modules\.bin` I get "this project doesn't have a proper SDK defined". That one contains only a `haxe.cmd`, although I

[2018-04-22 13:55] sebthom commented on #1243
I am not seeing this issue in FD5.3 anymore.

[2018-04-22 13:55] #1243 closed

[2018-04-22 19:52] #1794 closed

[2018-04-24 18:09] SeanJD commented on #1855
I'm also having this issue.
I tried the latest release build and was having the below error, found this thread, assumed the latest development build may fix it but it hasn't.

I'm running the development build: 5.3.3.42 and am getting the following stack trace::

Error details: net.sf.jni4net.jni.JNIException: Can't load java class for flash.tools.debugger.concrete.DValue_ from classLoader sun.mis

[2018-04-25 06:27] #2082 closed, assigned to nobody

[2018-04-25 12:30] SlavaRa opened #2117 "System.StackOverflowException"
- [x] case 1
[code]
- [x] case 1.1
[code]
- [x] case 2
[code]
- [x] case 3
[code]

[2018-04-26 03:51] #2117 closed, assigned to SlavaRa

[2018-04-26 19:24] kevinfoley commented on #2045
@SlavaRa  AIR 29 does not show up in the "install software" AppMan. When can we expect to see AIR 29?

[2018-04-26 19:54] SlavaRa commented on #2045
https://github.com/fdorg/flashdevelop/pull/2116

[2018-05-02 13:39] markknol opened #2119 "Detect if my commandline runs in FlashDevelop"
This is not a very important request but just want to ask.

I have a log function which outputs with colors. This is done using ANSI escape codes.

I'm using this to print with colors (Haxe)
[code]
 This works nicely in PowerShell on Windows.
![image](https://user-images.githubusercontent.com/576184/39526291-9f5bca2a-4e1e-11e8-9e9e-6f5a7bc6fcab.png)

In HaxeDevelop it just logs part of the escape

[2018-05-08 15:13] gene-pavlovsky commented on #2103
@back2dos
https://ci.appveyor.com/api/buildjobs/66cb8x8qxhvun2hv/artifacts/FlashDevelop%2FInstaller%2FBinary%2FFlashDevelopPR_2112.zip
The two issues you reported should be resolved now. Please try it :)

[2018-05-09 08:17] back2dos commented on #2103
Ok, seems to work fine.

[2018-05-09 12:35] #2103 closed, assigned to gene-pavlovsky

[2018-05-09 22:44] tadeubas opened #2121 "FD 3.x.x install requirement missing (win10)"
I've installed Win10 right now on a blank drive and tried to install FlashDevelop 5.3.3 release. The blog post don't say it needs Microsoft .NET 3.5 but it does.

The only way I could install FD was enabling this first option .NET 3.5:

![net3_5 2](https://user-images.githubusercontent.com/5518496/39843109-ecd25520-53bf-11e8-9315-04d3200120fd.PNG)

The forum release post don't say this - http://ww

[2018-05-10 12:21] Neverbirth commented on #2121
Is it the same also with a dev build? http://flashdevelop.org/downloads/builds/

[2018-05-10 12:27] tadeubas commented on #2121
This?
[code]

[2018-05-10 12:46] Neverbirth commented on #2121
Yes, you can use the zipped one too.

[2018-05-13 17:24] tadeubas commented on #2121
On a brand new and updated Win10 Pro OS:
[code]
I've installed without any problems. But the issue is when I open FD, It says: **Initializing FD**, and then **Windows ask for .NET Lib 3.5** (with 2.0 and 3.0).

When I cancel the Windows pop-up, I see FD home screen, but **AppMan did not show up**. When I try to open it, Windows ask again about .NET libs.

So it is **not related to FD, but to AppMa

[2018-05-13 17:44] Neverbirth commented on #2121
You are fully right, I guess it's an oversight nobody ever realized before, I will update shortly.

[2018-05-14 06:00] matrix3d opened #2123 "This "find all references" will open all *.as files and cause flashdevelop to crash."
This "find all references" will open all *.as files and cause flashdevelop to crash.

[2018-05-14 07:18] Neverbirth commented on #2121
I pushed yesterday an updated AppMan, and also some other stuff. It's possible some external tools require .NET 3.5, but they are out of our control. Feel free to report any other missing thing you may find.

Thanks again for the report.

[2018-05-14 08:02] SlavaRa commented on #2123
Can you give me `Exceptions.log`?

Tools -> User Config Files...

[2018-05-14 08:10] matrix3d commented on #2123
`2018/5/11 15:26:35

System.Exception: Could not be recycled: D:\proj\wwwproj\engine\tools\tools3d\air\tools3d-captive-runtime_bundle
   在 ProjectManager.Actions.FileActions.Delete(String path, Boolean confirm)

2018/5/11 15:26:58

System.Exception: Could not be recycled: D:\proj\wwwproj\engine\tools\tools3d\air\tools3d-captive-runtime_bundle
   在 ProjectManager.Actions.FileActions.Delete(String p

[2018-05-14 08:11] matrix3d commented on #2123
![image](https://user-images.githubusercontent.com/4150631/39985529-791dd106-5791-11e8-8ae2-a9ac8f8c72d0.png)

[2018-05-14 08:12] matrix3d commented on #2123
![image](https://user-images.githubusercontent.com/4150631/39985562-9256009e-5791-11e8-85df-7aadfa39012b.png)

[2018-05-14 08:15] SlavaRa commented on #2123
Thanks. I need a little time to think about how to improve the logging of such errors.

[2018-05-14 08:20] matrix3d commented on #2123
Every time you search, you have to open this file in flashdevelop. I think this can be improved. It only needs to be done in the background. Or use multithreading

[2018-05-14 10:25] tadeubas commented on #2121
Thank you for the quick response and suggestions!

Closing the issue.

[2018-05-14 10:25] #2121 closed, assigned to nobody

[2018-05-14 14:56] markknol commented on #2119
I found out there is something in PATH which helped me for this.

[2018-05-14 14:56] #2119 closed, assigned to nobody

[2018-05-15 02:32] matrix3d commented on #2123
hi @SlavaRa  pls look at this gif，thanks.
![fdbug](https://user-images.githubusercontent.com/4150631/40033495-459a2c9a-582b-11e8-94c2-1c759b2f7e11.gif)

[2018-05-15 02:35] matrix3d commented on #2123
[code]

[2018-05-15 19:05] SlavaRa commented on #2108
WIP, I'll fix it weekend(I should write tests).

[2018-05-20 13:37] yooni126 opened #2125 "AIR SDK 29 Issue"
I set sdk 29 but when I compile I see this error:
 error 102: Invalid namespace http://ns.adobe.com/air/application/29.0

[2018-05-20 14:40] #2125 closed, assigned to nobody

[2018-05-21 20:02] DarthVan opened #2126 "[haxe] Renaming local variables has no effect"
Hi! I trying to rename a local variable in private function:
[code]
but after renaming its name is v1 again =)
Thanks.
PS: FD 5.3.3.50

[2018-05-22 13:39] markknol opened #2127 "SOH control character"
![image](https://user-images.githubusercontent.com/576184/40365961-3c1bd276-5dd6-11e8-834e-04ca5cc5661b.png)
Sometimes after refactoring or completion selection I get this weird SOH character automatically inserted. Any reason why this sometimes happens?
It also sometimes messes up the naming.

Seems to happen since the latest releases HaxeDevelop version.

[2018-05-22 14:33] DarthVan commented on #2127
Hi! Have that problem about 2 years =). I tryed to reproduce it, but its happens randomly.

[2018-05-23 07:51] matrix3d opened #2128 "the fcsh can not be work"
the fcsh can not be work

[2018-05-29 14:37] tom-seddon opened #2130 "How do I build HaxeDevelop?"
This may sound like a dumb question, but how do I build HaxeDevelop? When I build FlashDevelop in Visual Studio, I get FlashDevelop - but I'd like to get HaxeDevelop instead.

https://github.com/fdorg/flashdevelop/blob/cae546111ed0505a98a421f88ad72edaa45c18aa/Distros/README.md is not, in my view, very illuminating :)

If the instructions are simple, I can submit a README PR.

Thanks,

--Tom

[2018-05-30 11:53] markknol opened #2131 "Feature request: Task Panel - Ability to exclude sources from "References""
It would be nice in the task panel settings to have the ability (checkbox) to exclude sources from "References".

[2018-05-31 11:31] benjamin-stern commented on #1898
Yeah I'm still getting the same issues even after a clean install not sure what's going on with it cannot connect to the debugger.

[2018-06-06 16:56] #2108 closed, assigned to SlavaRa

[2018-06-07 05:55] benjamin-stern commented on #1898
When reverting back to 5.0.2 working fine with the same setup and environment variables.

[2018-06-07 16:15] tom-seddon opened #2133 "Can't assign a keyboard shortcut for showing the Find and Replace window"
There's a menu option, `View|Results Panel|Find and Replace`, that shows the Find and Replace results panel.

![image](https://user-images.githubusercontent.com/1269020/41112189-34de6e90-6a76-11e8-83b4-1d2ee8d73cb8.png)

It doesn't appear to have a corresponding command, so it can't be assigned a keyboard shortcut in the keyboard shortcuts dialog.

Thanks,

--Tom

P.S. `ResultsPanel.ShowNextResult

[2018-06-08 12:54] SlavaRa opened #2134 "[ASGenerator] Wrong result after `override completion` if class extends `flash.utils.Proxy`"
[code]
actual result:
[code]

[2018-06-08 17:07] #2134 closed, assigned to nobody

[2018-06-11 09:08] SlavaRa opened #2137 "Object reference not set to an instance of an object."
[code]

[2018-06-11 09:25] #2137 closed, assigned to nobody

[2018-06-13 20:07] #1168 closed

[2018-06-13 20:25] SlavaRa commented on #1325
Completion Mode: CompletionServer, Compiler

[2018-06-14 06:54] #2087 closed, assigned to nobody

[2018-06-14 11:26] tom-seddon opened #2144 "Can't activate the outline search box from the keyboard"
There doesn't appear to be any way to activate the outline search box from the keyboard.

![image](https://user-images.githubusercontent.com/1269020/41409414-0ae58e68-6fce-11e8-820b-4121bf7b29cf.png)

--Tom

[2018-06-14 11:31] tom-seddon opened #2145 "PgUp/PgDn don't work in the keyboard shortcuts dialog"
Up and down cursors work fine. Seems that PgUp/PgDn aren't valid shortcut keys, so they should presumably just work as normal?

Thanks,

--Tom

[2018-06-14 15:38] SlavaRa opened #2147 "[AppMan] Support for AIR30 and FP30"

[2018-06-14 19:58] pozirk commented on #1588
Same here, but with FlashDevelop.
Anyone could solve this?

[2018-06-18 12:24] #2147 closed, assigned to nobody

[2018-06-18 13:07] markknol commented on #1979
![image](https://user-images.githubusercontent.com/576184/41537604-489e21e6-7309-11e8-9f5c-df3252fda923.png)

What is the state of this ticket? I had about 8 crashes today.

[2018-06-18 13:12] SlavaRa commented on #1979
Can you try latest `development` build?
And can you give me your `Exceptions.log` file?

[2018-06-18 13:16] markknol commented on #1979
Ill try!

This is my latest lines `Exceptions.log`: (as you can see all the crashes doesnt seem to be included)

[code]

[2018-06-18 13:51] markknol commented on #1979
Update; I tried latest dev and it still crashed at same point.
I sometimes have to open notepad to just continue coding at the point where it crashes then I restart haxedevelop to make it not crash directly. Still haven't seen any particular pattern in this.

[2018-06-18 13:59] SlavaRa commented on #1979
Can you give me your file with code that help me catch crash?

[2018-06-18 14:32] markknol commented on #1979
No this is for a commercial project, but will share one when I have a more isolated case.

[2018-06-18 14:37] SlavaRa commented on #1979
Ok, I'll wait ;)

[2018-06-18 19:36] SlavaRa commented on #1979
@markknol I need your sample, because I don't understand how I can reproduce that crash ;(

[2018-06-18 19:48] SlavaRa commented on #1979
@markknol I can make test build for your, build with guardians for logging. Maybe it's best variant if you can't give me the code.

[2018-06-18 19:57] markknol commented on #1979
Yes, if that can help nailing this that would be great. Happy to help!

[2018-06-18 20:00] SlavaRa commented on #1979
We can make that tomorrow, no problem :)

[2018-06-20 09:56] SlavaRa commented on #1979
@markknol https://ci.appveyor.com/project/FlashDevelop/flashdevelop-devel/build/5.3.3.64-jyqdacgi/artifacts. This version contains additional checks and logging. If you see an error message in the Output panel, write it here, okay?

[2018-06-20 11:25] SlavaRa opened #2151 "[Haxe][CodeGenerator] Index was outside the bounds of the array."
[code]
[code]

[2018-06-20 13:08] SlavaRa commented on #2151
fixed via #2152

[2018-06-20 13:08] #2151 closed, assigned to nobody

[2018-06-20 13:11] SlavaRa opened #2153 "[CodeGenerator] Wrong result after execution `Assign statement to var`"
[code]
expected result:
[code]
actual result:
[code]

[2018-06-20 13:18] SlavaRa opened #2154 "[CodeGenerator] Wrong result after execution `Assign statement to var`"
[code]
expected result:
[code]
actual result:
[code]

[2018-06-20 15:13] #2154 closed, assigned to nobody

[2018-06-21 10:46] tom-seddon opened #2157 "Find sometimes fails to scroll the display to show the text it found"
HaxeDevelop, https://github.com/fdorg/flashdevelop/commit/436add6fc7 (binary distribution from the website)

Repro steps:

1. Create new blank document with `Ctrl+N`

2. Paste in the Lorem Ipsum nonsense below. Make sure you can't see all of it at once - it needs to be wider than the window. It's nearly 1K so this will probably be the case anyway

3. `Ctrl+Home`, `Ctrl+F`, search for `rhoncus` - i

[2018-06-21 11:23] #444 closed, assigned to nobody

[2018-06-21 14:37] #2153 closed, assigned to nobody

[2018-06-21 15:00] DarthVan commented on #2126
Fixed in v.5.3.3.67

[2018-06-21 15:00] #2126 closed, assigned to nobody

[2018-06-22 14:28] #1986 closed

[2018-06-23 21:05] tom-seddon opened #2164 "Should the dialogs be editable in the Visual Studio designer?"
With FlashDevelop.sln open in VS2017, when I try to open ShortcutDialog.cs in the form designer I get an error pointing at `ScaleHelper.GetScale`, apparently becuase `PluginBase.MainForm` is null when in the designer.

Other dialogs are also affected (I didn't do an exhaustive check).

Is this supposed to work? Or are the dialogs just known not to be compatible with the designer?

Thanks,

--Tom

[2018-06-24 06:57] elsassph commented on #2164
Unfortunately, the way high dpi was implemented isnt compatible with visual mode.

[2018-06-24 12:06] tom-seddon commented on #2164
OK, no problem - just checking that there isn't something wrong with my setup.

Thanks,

--Tom

[2018-06-24 12:06] #2164 closed, assigned to nobody

[2018-06-25 14:50] #164 closed

[2018-06-27 22:08] #2145 closed, assigned to nobody

[2018-06-29 09:42] SlavaRa commented on #2128
What do you mean?

[2018-06-29 09:53] SlavaRa commented on #1465
fixed #2143

[2018-06-29 09:53] #1465 closed

[2018-06-29 13:21] #2144 closed, assigned to SlavaRa

[2018-06-29 19:52] markknol opened #2173 "Multiple Haxe processes"
In development build (1ddbef48c55c0eed20a14b51ae3de577ea059ee6) I see multiple Haxe processes starting.
![image](https://user-images.githubusercontent.com/576184/42111995-a15a180e-7be6-11e8-8b78-0e8939d4c9a3.png)

* when haxedevelop starts, a process is started.
* when requesting completion, a new process is started.
* when switching haxe sdk, a new process is started.
* when requesting completion

[2018-06-29 19:53] markknol opened #2174 ""No localized string found: HaXeContext.Description.EnabledCompilerServices""
In development build (1ddbef48c55c0eed20a14b51ae3de577ea059ee6) I see this in the output log;

[code]

[2018-06-29 19:55] SlavaRa commented on #2173
Completion Mode: Compiler

[2018-06-29 19:55] markknol opened #2175 "No Haxe compiler completion"
In development build (1ddbef48c55c0eed20a14b51ae3de577ea059ee6) I dont get completion from Haxe compiler anymore.

Simple example:
[code]

Using Haxe 3.4.7

[2018-06-29 20:16] SlavaRa commented on #2175
depends on #2173

[2018-06-29 21:16] SlavaRa commented on #2173
WIP

[2018-06-30 03:35] matrix3d commented on #2128
The second compilation of a large project is too slow. The second compilation of flashbuilder is very fast. Looks like a lack of caching system

[2018-07-02 19:23] SlavaRa commented on #2128
What compiler do you use(in FB, in FD)?

[2018-07-03 01:37] matrix3d commented on #2128
airsdk30

[2018-07-03 11:06] #2173 closed, assigned to SlavaRa

[2018-07-03 11:06] #2175 closed, assigned to SlavaRa

[2018-07-03 11:49] markknol commented on #2173
Yes this seems resolved now! 👍

[2018-07-03 12:52] SlavaRa commented on #2123
@matrix3d can you try the latest development-build.

[2018-07-03 13:00] matrix3d commented on #2123
![menu saveimg savepath20180703205946](https://user-images.githubusercontent.com/4150631/42221257-13019c0a-7f04-11e8-837b-1411f8aa0163.jpg)

[2018-07-03 13:47] SlavaRa commented on #2123
Oh... ok, thanks

[2018-07-03 13:56] matrix3d commented on #2123
@SlavaRa 不客气

[2018-07-03 14:54] SlavaRa commented on #2123
I still have a couple of ideas on how to fix the current problem)
@matrix3d Which language is it?

[2018-07-03 15:35] SlavaRa commented on #2123
@matrix3d 不客气 == We are welcome, right?

[2018-07-04 02:30] matrix3d commented on #2123
yes,you are right. 不客气=you are welcome

[2018-07-04 10:16] tom-seddon opened #2177 "Popup completion list replaced with different popup completion list"
SOmetimes when pressing Ctrl+Space, I get one type of completion list that's quickly replaced by a different one with different contents.

What appears first:

![image](https://user-images.githubusercontent.com/1269020/42271457-46bb90b0-7f7b-11e8-8e96-faa170668b11.png)

What it's replaced with, usually exactly when I press a key to select an item:

![image](https://user-images.githubusercontent.co

[2018-07-04 14:11] SlavaRa commented on #2177
- FD completion
- Compiler completion

I know how to improve it, I'll do it in the near future.

[2018-07-04 14:34] SlavaRa commented on #1625
This setting only works in release mode.

[2018-07-04 14:37] SlavaRa commented on #2128
#1167
https://github.com/exaphaser/EHaxeStudio/commit/bde0328b4236a22fabac83abe45da0c113750391

[2018-07-04 15:21] chosencharacters opened #2179 "Multiple Neko processes"
Hey,
When compiling Flash, FD always opens up two neko processes that don't close afterwards. This does not happen with just `lime test flash` normally. These neko processes don't replace eachother, so if you compile 3 times you'll have 6 neko processes.

[2018-07-04 15:53] SlavaRa commented on #2179
@chosencharacters What version of the editor do you use?

[2018-07-04 15:54] #2128 closed, assigned to nobody

[2018-07-04 15:54] #1167 closed

[2018-07-04 15:57] chosencharacters commented on #2179
@SlavaRa 5.3.3.1, just updated actually, problem still persists

[2018-07-04 15:59] SlavaRa commented on #2179
Can you try the latest development build?
http://flashdevelop.org/downloads/builds/

[2018-07-04 16:03] chosencharacters commented on #2179
Just updated, tried compiling again, issue still persists :\

Did you do anything new with optimization within the last few versions btw?
Just got a big speed increase in compile time.

On Wed, Jul 4, 2018 at 11:59 AM, SlavaRa <notifications@github.com> wrote:

[2018-07-04 16:06] SlavaRa commented on #2179
Thanks. I'll try to deal with this problem in the near future.

There are a lot of improvements in this version :)

[2018-07-04 16:09] gene-pavlovsky commented on #1167
Finally :) Better late than never!
Thanks

[2018-07-04 16:10] SlavaRa commented on #1167
All for you ;)

[2018-07-04 17:14] #1158 closed

[2018-07-05 12:01] gene-pavlovsky commented on #1183
I've done a small investigation and found the cause of this bug:
FRInDocDialog.ReplaceButtonClick has this logic
[code]

This assumes that if there's a selected text, `currentMatch` must be valid, which is not necessarily the case.
A use may select some text manually, or it might be a selection from previous search, but changing the search query or replacement text resets `currentMatch` to null.

[2018-07-05 13:10] #825 closed

[2018-07-05 15:07] SlavaRa commented on #2000
#1183

[2018-07-05 17:58] tom-seddon opened #2182 "Stack overflow exception when pressing `.`"
I don't know if the stack trace is going to be very helpful, but please find it attached! Unfortunately I can't supply the code.

Whatever it's doing, how do I disable it? I only typed a `.`... I just want it to insert a `.`, and let me keep working. I don't want it to pop anything up unless I press Ctrl+Space or whatever.

Thanks,

--Tom
[FlashDevelopCallStack.txt](https://github.com/fdorg/flashd

[2018-07-05 19:40] SlavaRa commented on #2182
Which version of the editor do you use?
Can you give me your code? So that I can write a test.

[2018-07-05 19:48] SlavaRa commented on #2182
Can you give me your коде? So that I can write a test.

[2018-07-05 19:58] SlavaRa commented on #1625
@matrix3d This issue can be considered solved?

[2018-07-05 20:31] SlavaRa commented on #869
@matrix3d Is this reproduced in the latest release(or the latest development version)?

[2018-07-05 20:33] SlavaRa commented on #864
@matrix3d Is this reproduced in the latest release(or the latest development version)?

[2018-07-05 20:35] SlavaRa commented on #427
@matrix3d Is this reproduced in the latest release(or the latest development version)?

[2018-07-06 08:09] gene-pavlovsky opened #2183 "[haxe] Auto-build macro in the same file breaks completion"
With the latest development version, an auto-build macro breaks completion.

Minimal example:
[code]

On the line marked as `// XXX`:
- Remove the comment
- Type `if (ba`
- Press Ctrl+Space to activate the completion
Expected: `bar` offered as completion
Actual: all kinds of types and keywords offered as completion (`A`, `abstract`, `Access`, etc.)

Remove the `macro public static function build`

[2018-07-06 08:17] SlavaRa commented on #2183
Could you fill out the participant's form?
Editor version: _____________
Compiler version: __________
Editor -> Tools -> Program settings -> HaxeContext -> Completion mode: ____________

[2018-07-06 08:28] gene-pavlovsky commented on #2183
Editor version: FlashDevelop 839a8eb3 2018-07-04
Compiler version: MS VS 2017 Professional
Completion mode: Compiler

[2018-07-06 08:30] SlavaRa commented on #2183
I mean version of the Haxe compiler ;)

[2018-07-06 08:33] gene-pavlovsky commented on #2183
Sorry :)
haxe 3.4.7, using lix

[2018-07-06 08:38] SlavaRa commented on #2183
Thanks ;)

[2018-07-06 09:26] gene-pavlovsky commented on #1171
I've just tried this with the latest FlashDevelop development branch, and couldn't reproduce anymore.

Nitpick: `Trim trailing whitespace` setting doesn't seem to effect this. I think if the option is set to true,
the whitespace should be already trimmed when the file is created. I suppose this would be a small improvement. Not a major problem at all, though.

[2018-07-06 09:52] tom-seddon commented on #2182
OK, I think this is how you reproduce it.

1. Close project

2. Create new Haxe file

3. Replace the contents with the following

[code]

4. Hover mouse over `child` in the `while` expression.

I'm having difficulty reducing this further as FlashDevelop keeps crashing while I'm editing it.

Thanks,

--Tom